body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ddd;
}
.container {
  width: 1000px;
  height: 500px;
  border: 1px solid red;
}
ul {
  height: 100%;
  width: 100%;
}
