@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR";
  background: rgba(125, 25, 25, 0.9);
}
header,
.modalItem {
  display: flex;
  width: 41.6%;
  min-width: 680px;
  padding: 20px 40px;
  margin-top: 60px;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background: #fff;
  border-radius: 5px;
}
header h1,
.modalItem h1 {
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
}
header h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -18px;
  transform: translateX(-60%);
  width: 80px;
  height: 5px;
  background: goldenrod;
}
header img {
  border: 5px solid goldenrod;
  border-radius: 8px;
  width: 100%;
  min-width: 600px;
  height: auto;
  object-fit: cover;
}
.content {
  padding: 20px 60px;
  width: 100%;
  min-width: 600px;
}
.content div {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}
header div span,
.modalItem div span {
  font-size: 1rem;
  color: brown;
}
header p,
.modalItem p {
  color: #333;
}

.category-menu {
  width: 50%;
  min-width: 600px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background: #fff;
  border-radius: 5px;
}
.category-menu span {
  width: 100%;
  text-align: center;
  line-height: 40px;
  border: 5px solid goldenrod;
  border-right: none;
  border-bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
}
.category-menu span:first-child {
  border-top-left-radius: 5px;
}
.category-menu span:last-child {
  border-right: 5px solid goldenrod;
  border-top-right-radius: 5px;
}
.category-menu span.active {
  background: goldenrod;
  color: #fff;
}
.container {
  width: 56.6%;
  min-width: 680px;
  padding: 40px;
  border: 5px solid goldenrod;
  border-radius: 5px;
  margin-bottom: 150px;
  background: #fff;
  display: flex;
  justify-content: center;
}
.container ul {
  width: 90%;
  display: flex;
  margin-left: 4%;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.container ul li {
  margin-bottom: 24px;
  cursor: pointer;
  margin-right: auto;
}
.container ul li img {
  width: 250px;
}
.desc {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  width: 250px;
}
.title {
  font: 18px;
  font-weight: 500;
}
.price {
  color: brown;
}
.modal-content {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.2s linear;
  z-index: -1;
  opacity: 0;
}
.modal-content.active {
  z-index: 10;
  opacity: 1;
}
.modal-inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalItem {
  border: 5px solid goldenrod;
  position: relative;
  padding-top: 40px;
}
.modalItem img {
  width: 46%;
  height: auto;
  object-fit: cover;
}
.closeBtn {
  position: absolute;
  right: 10px;
  top: 0;
  width: 30px;
  height: 30px;
  padding: 10px;
  font: bold 1.5rem/1 "arial";
  cursor: pointer;
}

@media (max-width: 390px) {
  header,
  .modalItem {
    width: 90%;
    min-width: 0;
    padding: 20px 10px;
    margin: 20px;
  }
  header h1,
  .modalItem h1 {
    font-size: 24px;
    height: 32px;
  }
  header img,
  .modalItem img {
    min-width: 0;
  }
  .content {
    padding: 20px 40px;
    width: 100%;
    min-width: 340px;
  }
  .container {
    width: 90%;
    min-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .container ul {
    justify-content: center;
    margin-left: 0;
  }

  .category-menu {
    width: 90%;
    min-width: 0;
    height: 42px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50;
  }
  .category-menu span {
    line-height: 36px;
    font-size: 1rem;
    font-weight: 500;
  }
}
