@import "reset";
@import "variable";
body {
  background: map-get($font-color, bg);
}
// header
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background: map-get($font-color, primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #fff;
  padding: 0 100px;
  z-index: 999;
  .header-left {
    display: flex;
    align-items: center;
    gap: 20px;
    .logo {
      font-size: 42px;
      font-family: map-get($font-family, main_en);
      font-weight: bold;
      letter-spacing: 1.5px;
      color: #fff;
      transition: all 0.3s;
      &:hover {
        background: linear-gradient(
          -45deg,
          #43c2cd 25%,
          #e75cd0 25%,
          #e75cd0 50%,
          #43c2cd 50%,
          #43c2cd 75%,
          #e75cd0 75%,
          #e75cd0
        );
        -webkit-text-stroke: 1px #222;
        background-clip: text;
        color: transparent;
        background-size: 20px 20px;
        background-position: 0 0;
        animation: colors 1s linear infinite;
      }
    }
    @keyframes colors {
      100% {
        background-position: 20px 0, 20px 0, 20px 0;
      }
    }

    .weather {
      display: flex;
      align-items: center;
      height: 80%;
      gap: 15px;
      padding: 20px;
      img {
        width: 60px;
      }
      div {
        display: flex;
        flex-direction: column;
        text-align: center;
        .temp {
          font-size: 22px;
        }
        span:last-child {
          font-size: 14px;
        }
      }
    }
  }
  .gnb {
    display: flex;
    gap: 50px;
    overflow: hidden;
    height: 80px;
    padding: 0 20px;
    align-items: center;
    li {
      font-size: 24px;
      font-family: map-get($font-family, main_en);
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        font-size: 38px;
        font-weight: 600;
        -webkit-text-stroke: 1px #222;
        text-shadow: 5px 5px 0px #43c2cd, 10px 10px 0px #e75cd0,
          15px 15px 0px #5f4997;
      }
    }
  }
  .toggle-btn {
    display: none;
  }
}
// common
.wrap {
  width: 100%;
  height: auto;
  color: map-get($font-color, primary-dark);
  background: url("./img/cloud.png") top left;
  font-family: map-get($font-family, sub_kr);
}
.color-select-box {
  position: fixed;
  left: -154px;
  bottom: 120px;
  z-index: 999;
  display: flex;
  transition: all 0.3s;
  &.active {
    left: 0;
  }
  .colorBox {
    width: 154px;
    height: 150px;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    .select-color {
      width: 50px;
      height: 50px;
      cursor: pointer;
      &:nth-child(1) {
        background: map-get($font-color, primary);
      }
      &:nth-child(2) {
        background: #00a73e;
      }
      &:nth-child(3) {
        background: #ff9801;
      }
      &:nth-child(4) {
        background: #ea1e63;
      }
    }
  }
}
.gotoTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: map-get($font-color, primary);
  box-shadow: inset 5px -5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 9999;
}
.color-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: map-get($font-color, primary);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  text-align: center;
  cursor: pointer;
  i {
    font-size: 24px;
    color: #fff;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin: 100px auto 0;
}
.container {
  width: 100%;
  height: auto;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
}
.section {
  width: 100%;
  height: auto;
  display: flex;
}
.section-tit {
  font-size: 48px;
  font-family: map-get($font-family, main_en);
  font-weight: 600;
  width: 180px;
  height: 78px;
  text-align: center;
  position: relative;
  .underbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: map-get($font-color, primary);
  }
  .inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    width: 50%;
    height: 8px;
    background: map-get($font-color, primary);
  }
}
.section-inner {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  padding: 100px;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 10px;
      gap: 36px;
      cursor: pointer;
      .dew {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background: map-get($font-color, primary);
        border-radius: 100%;
        border-top-left-radius: 0;
        img {
          width: 42px;
        }
      }
      .desc {
        width: 280px;
        text-align: center;
        h3 {
          margin-bottom: 8px;
        }
      }
    }
  }
}
// home
.home {
  max-width: 75%;
  margin-bottom: 20px;

  .container {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;

    .title {
      width: 44vw;
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .hiseul {
        text-align: center;
        span {
          font-size: 64px;
          font-family: map-get($font-family, main_en);
          font-weight: 900;
          -webkit-text-stroke: 1px #222;
          color: #fff;
          .blue {
            color: map-get($font-color, primary);
            -webkit-text-stroke: 1px transparent;
          }
        }
      }
      p {
        width: 65%;
        line-height: 2rem;
        font-family: map-get($font-family, sub_kr);
        font-size: 20px;
        font-weight: 500;
        letter-spacing: -1px;
        .point {
          font-weight: 600;
          letter-spacing: 1px;
          font-size: 24px;
          color: map-get($font-color, primary);
        }
      }
      .section-inner {
        margin: 0;
        margin-top: 20px;
        padding: 0;
        li {
          border-radius: 5px;
          padding: 20px 0;
          gap: 10px;
          width: 16vw;
          height: 12vw;
          min-width: 260px;
          min-height: 180px;
          position: relative;
          perspective: 400px;
          .card-horizontal,
          .card-vertical {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            transition: transform 0.5s ease-in-out;
            transform-style: preserve-3d;
            .front,
            .back {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 12px;
              width: 100%;
              height: 100%;
              border-radius: 8px;
              backface-visibility: hidden;
            }
            .front {
              background: #fff;
              position: absolute;
            }
            .back {
              background: linear-gradient(to right, #36d1dc, #5b86e5);
              color: #fff;

              p {
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
          &:nth-child(2) {
            .back {
              background: linear-gradient(to right, #38ef7d, #11998e);
            }
          }
          &:nth-child(3) {
            .back {
              background: linear-gradient(to right, #fdc830, #f37335);
            }
          }
          &:nth-child(4) {
            .back {
              background: linear-gradient(to right, #fbd3e9, #bb377d);
            }
          }
          &:hover .card-horizontal {
            transform: rotateY(180deg);
          }

          &:hover .card-vertical {
            transform: rotateX(180deg);
          }
          .hori {
            transform: rotateY(180deg);
          }
          .ver {
            transform: rotateX(180deg);
          }
        }
      }
    }
    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 32vw;
      min-width: 500px;
      height: 90%;
      padding: 18px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      background: #fff;
      overflow: hidden;
      position: relative;
      .mian-profile {
        width: 90%;
        height: 90%;
        object-fit: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
      }
      .images {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.3s;
        .image {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 32vmin;
          height: auto;
        }
        .image[data-status="inactive"] {
          display: none;
        }
        .image[data-status="active"] {
          display: block;
        }
      }
      span {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        height: 5%;
      }
    }
  }
}
// skill
.skill {
  .section-tit {
    position: relative;
    cursor: pointer;
    .ani-dew {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border-top-left-radius: 0;
      background: map-get($font-color, primary);
      position: absolute;
      bottom: -70px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      animation: aniClick 0.8s alternate-reverse infinite;
      &::after {
        content: "Click";
        position: absolute;
        font-size: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        color: #fff;
      }
    }
    .ani-dew.active {
      animation: aniDew 3s linear;
    }
    @keyframes aniClick {
      0% {
        transform: translateX(-50%) rotate(45deg) scale(1);
      }
      100% {
        transform: translateX(-50%) rotate(45deg) scale(1.2);
      }
    }
    @keyframes aniDew {
      0% {
        transform: translateX(-50%) rotate(45deg);
        bottom: -70px;
        opacity: 1;
      }
      100% {
        transform: translateX(-50%) rotate(45deg);
        bottom: -600px;
        opacity: 0;
      }
    }
  }
  .section-inner {
    ul {
      li {
        .skill-content {
          margin-right: 20px;
          .skill-box {
            width: 400px;
            height: 60px;
            margin-bottom: 42px;
            padding: 4px 0;
            background: map-get($font-color, primary);
            display: flex;
            align-items: center;
            justify-content: center;

            gap: 16px;
            h2 {
              line-height: 60px;
              color: #fff;
              font-size: 18px;
            }
          }

          .skill-desc {
            visibility: hidden;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 0;
            padding: 20px;
            background: map-get($font-color, primary-light);
            margin-top: 28px;
            position: relative;
            transition: all 1s;
            &.active {
              visibility: visible;
              opacity: 1;
              height: 150px;
            }
            &::before {
              content: "";
              width: 40px;
              height: 40px;
              background: map-get($font-color, primary-light);
              position: absolute;
              left: calc(360px / 2);
              transform: rotate(45deg);
              top: -15px;
              z-index: -1;
            }
            p {
              display: flex;
              align-items: center;
              font-family: map-get($font-family, sub_kr);
              line-height: 1.5;
              font-size: 18px;
            }
          }
        }
        img {
          width: 46px;
          height: 46px;
        }
        &:nth-child(3) {
          .jquery {
            background: #fff;
            width: 36px;
            height: 36px;
          }
        }
        &:last-child {
          img {
            width: 38px;
            height: 38px;
          }
        }
      }
    }
  }
}

// project
.project {
  .section-inner {
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .modalback {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: none;
      position: fixed;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      z-index: 100;
      .modalScreen {
        width: 80%;
        height: 78%;
        margin: auto;
        background: map-get($font-color, primary-light);
        border-radius: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        .modalScreenInner {
          width: 94%;
          background: map-get($font-color, primary);
          border-width: 4px;
          border-style: solid;
          border-color: map-get($font-color, primary);
          height: 90%;
          border-radius: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          overflow: hidden;
          position: relative;
          .cloneWeb {
            width: 58%;
            height: 100%;
            overflow: hidden;
            img {
              display: inline-block;
              width: 100%;
              height: 100%;
              padding-right: 4px;
              object-fit: cover;
              object-position: top;
              transition: all 5s ease-in-out;
              &:hover {
                object-position: bottom;
              }
            }
          }
          .project-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 42%;
            height: 100%;
            background: #fff;
            padding: 20px 0 0 20px;
            ul {
              width: 90%;
              height: 100%;
              display: flex;
              gap: 2vw;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              padding: 0 20px 50px;
            }
            .clone-desc li {
              display: flex;
              align-items: flex-start;
              padding: 0;
              gap: 8px;
              .tit {
                font-size: 22px;

                i {
                  margin-right: 12px;
                  color: map-get($font-color, primary);
                }
                p {
                  display: inline-block;
                  font-size: 14px;
                }
              }
              p {
                margin-left: 30px;
              }
            }
          }
          .modalCloseBtn {
            position: absolute;
            display: inline-block;
            right: 20px;
            top: 10px;
            text-align: center;
            cursor: pointer;
            i {
              font-family: "FontAwesome";
              content: "\f00d";
              font-size: 48px;
              color: map-get($font-color, primary);
            }
          }
          .viewMore {
            display: inline-block;
            position: absolute;
            right: 20px;
            bottom: 20px;
            text-align: center;
            line-height: 34px;
            height: 42px;
            width: 140px;
            padding: 5px 10px;
            background: map-get($font-color, primary);
            border-radius: 24px;
            color: #fff;
          }
        }
      }
    }

    ul {
      gap: 2%;
      .modalList {
        width: 40%;
        height: auto;
        min-width: 480px;
        margin-bottom: 28px;
        background-color: map-get($font-color, primary-light);
        border-radius: 20px;
        position: relative;
        transition: all 0.3s;
        &::after {
          font-family: "FontAwesome";
          content: "\f245";
          display: none;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 20px;
          width: 100%;
          height: 100%;
          font-size: 42px;
          font-weight: 500;
          background: rgba(255, 255, 255, 0.5);
          cursor: pointer;
        }
        &:hover::after {
          display: flex;
        }
        .dew {
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          border-top-left-radius: 0;
          background: map-get($font-color, primary);
          position: absolute;
          top: -35px;
          left: 50%;
          transform: translateX(-50%) rotate(-135deg);
          z-index: 5;
        }

        .clone-project {
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            width: 100%;
            img {
              width: 94%;
            }
            span {
              display: inline-block;
              text-align: center;
              line-height: 34px;
              height: 42px;
              width: 140px;
              padding: 5px 10px;
              background: map-get($font-color, primary-dark);
              border-radius: 24px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
// example
.example {
  padding-bottom: 20px;
  height: auto;
  .section-inner {
    margin-top: 0;
    display: flex;
    justify-content: center;
    height: auto;
    .inner-wrap {
      width: 78%;
      height: auto;
      display: flex;
      flex-direction: column;
      .ex-menu {
        display: flex;
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;

        li {
          text-align: center;
          height: 42px;
          width: 140px;
          line-height: 32px;
          padding: 5px 10px;
          background: map-get($font-color, primary);
          border-radius: 24px;
          color: #fff;
          cursor: pointer;
          position: relative;

          span {
            position: absolute;
            top: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            line-height: 42px;
            border-radius: 20px;
            background: map-get($font-color, primary-dark);
            opacity: 1;
            &.active {
              opacity: 0;
            }
          }
        }
      }
      .ex-box {
        width: 100%;
        height: auto;
        margin-top: 24px;
        .modal-full {
          display: none;
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          z-index: 9999;
          #my-modal {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            #chat-iframe {
              width: 100%;
              height: 100%;
              border: none;
              border-radius: 5px;
              position: relative;
            }
            .modal-close-btn {
              width: 32px;
              height: 32px;
              text-align: center;
              position: absolute;
              right: 20px;
              top: 20px;
              cursor: pointer;
              i {
                color: ddd;
                font-size: 18px;
              }
            }
          }
        }
        .ex-box-wrap {
          padding: 20px;
          padding-bottom: 40px;
          width: 100%;
          height: auto;
          display: none;
          justify-content: center;
          background: map-get($font-color, primary-light);
          &.active {
            display: flex;
          }

          li {
            flex-grow: 1;
            height: auto;
            min-height: 420px;
            min-width: 390px;
            max-width: 600px;
            margin: 20px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            z-index: 10;
            .colors {
              position: absolute;
              left: 0;
              top: -100%;
              width: 100%;
              height: 100%;
              background: map-get($font-color, primary);
              opacity: 0;
              transition: all 0.3s ease;
            }
            &:hover div {
              display: flex;
              justify-content: center;
              align-items: center;
              top: 0;
              left: 0;
              opacity: 0.9;
              text-align: left;
              padding: 0 50px;
              p {
                width: 340px;
                color: #fff;
              }
            }
            img {
              width: 100%;
              object-fit: cover;
              object-position: top;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}
.contact {
  height: 360px;
  background: #1d2833;
  margin: 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    background: url("./img/cloud.png") left top/cover;
    opacity: 0.1;
  }
  .container {
    min-height: 0;
    color: #fff;
    margin-top: 40px;
    padding: 0;
    .section-tit {
      width: auto;
    }
    .section-inner {
      margin-top: 20px;
      padding: 0;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .social {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: map-get($font-color, primary);
        border-radius: 50px;
        width: 180px;
        height: 60px;
        z-index: 10;
        a,
        span {
          width: 40px;
          height: 40px;
          background: #fff;
          border-radius: 100%;
          border-top-left-radius: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 80%;
            padding: 5px;
          }
        }
      }
    }
    .bottom {
      width: 100%;
      height: 150px;
      background: map-get($font-color, primary);
      font-family: "NotoSans";
      font-style: italic;
      font-weight: lighter;
      text-align: center;
      font-size: 14px;
      padding-top: 50px;
    }
  }
}

@media (max-width: 1440px) {
  //common
  header {
    padding: 0 20px;
  }
  //home
  .home {
    max-width: 100%;
    .container {
      .title {
        p {
          width: 84%;
          font-size: 18px;
        }
        .section-inner {
          li {
            font-size: 14px;
          }
        }
      }
    }
  }
}
