@import "reset";
@import "variable";
body {
  background: map-get($font-color, bg);
}
// header
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background: map-get($font-color, primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #fff;
  padding: 0 100px;
  z-index: 999;
  .gnb {
    display: flex;
    gap: 50px;
    li {
      font-family: map-get($font-family, main_en);
      cursor: pointer;
    }
  }
  .toggle-btn {
    display: none;
  }
}
// common
.wrap {
  width: 100%;
  height: auto;
  color: map-get($font-color, primary-dark);
  background: url("./img/cloud.png") top left;
  font-family: map-get($font-family, sub_kr);
}
.color-select-box {
  position: fixed;
  left: -154px;
  bottom: 120px;
  z-index: 999;
  display: flex;
  transition: all 0.3s;
  &.active {
    left: 0;
  }
  .colorBox {
    width: 154px;
    height: 150px;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    .select-color {
      width: 50px;
      height: 50px;
      cursor: pointer;
      &:nth-child(1) {
        background: map-get($font-color, primary);
      }
      &:nth-child(2) {
        background: #00a73e;
      }
      &:nth-child(3) {
        background: #ff9801;
      }
      &:nth-child(4) {
        background: #ea1e63;
      }
    }
  }
}
.gotoTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: map-get($font-color, primary);
  box-shadow: inset 5px -5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 9999;
}
.color-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: map-get($font-color, primary);
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  text-align: center;
  cursor: pointer;
  i {
    font-size: 24px;
    color: #fff;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin: 100px auto 0;
}
.container {
  width: 100%;
  height: auto;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
}
.section {
  width: 100%;
  height: auto;
  display: flex;
}
.section-tit {
  font-size: 48px;
  font-family: map-get($font-family, main_en);
  font-weight: 600;
  width: 180px;
  height: 78px;
  text-align: center;
  position: relative;
  .underbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: map-get($font-color, primary);
  }
  .inner {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2px;
    width: 50%;
    height: 8px;
    background: map-get($font-color, primary);
  }
}
.section-inner {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  padding: 100px;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 10px;
      gap: 36px;
      .dew {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        background: map-get($font-color, primary);
        border-radius: 100%;
        border-top-left-radius: 0;
      }
      .desc {
        width: 280px;
        text-align: center;
        h3 {
          margin-bottom: 8px;
        }
      }
    }
  }
}
// home
.home {
  max-width: 1000px;
  margin-bottom: 20px;
  .container {
    flex-direction: row;
    justify-content: space-between;
    .title {
      display: flex;
      flex-direction: column;
      span {
        font-size: 64px;
        font-family: map-get($font-family, main_en);
        font-weight: 500;
        .blue {
          color: map-get($font-color, primary);
        }
      }
      .under-text {
        margin-left: 80px;
        margin-bottom: 20px;
      }
      p {
        width: 280px;
        line-height: 1.2;
        text-align: right;
        font-size: 20px;
        font-weight: 500;
      }
    }
    .img {
      background: url("https://file2.nocutnews.co.kr/newsroom/image/2023/05/25/202305250649476532_0.jpg")
        center/cover no-repeat;
      width: 500px;
      height: 550px;
    }
  }
}
// about
.about {
  width: 100%;
}
// skill
.skill {
  .section-tit {
    position: relative;
    cursor: pointer;
    .ani-dew {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border-top-left-radius: 0;
      background: map-get($font-color, primary);
      position: absolute;
      bottom: -70px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      animation: aniClick 0.8s alternate-reverse infinite;
    }
    .ani-dew.active {
      animation: aniDew 3s linear;
    }
    @keyframes aniClick {
      0% {
        transform: translateX(-50%) rotate(45deg) scale(1);
      }
      100% {
        transform: translateX(-50%) rotate(45deg) scale(1.2);
      }
    }
    @keyframes aniDew {
      0% {
        transform: translateX(-50%) rotate(45deg);
        bottom: -70px;
        opacity: 1;
      }
      100% {
        transform: translateX(-50%) rotate(45deg);
        bottom: -600px;
        opacity: 0;
      }
    }
  }
  .section-inner {
    .skill-content {
      margin-right: 20px;
      .skill-box {
        width: 400px;
        height: 60px;
        margin-bottom: 42px;
        padding: 4px 0;
        background: map-get($font-color, primary);
        display: flex;
        justify-content: center;
        gap: 8px;
        h2 {
          line-height: 60px;
          color: #fff;
        }
      }
      .skill-desc {
        visibility: hidden;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 0;
        padding: 20px;
        background: map-get($font-color, primary-light);
        margin-top: 28px;
        position: relative;
        transition: all 1s;
        &.active {
          visibility: visible;
          opacity: 1;
          height: 150px;
        }
        &::before {
          content: "";
          width: 40px;
          height: 40px;
          background: map-get($font-color, primary-light);
          position: absolute;
          left: calc(360px / 2);
          transform: rotate(45deg);
          top: -15px;
          z-index: -1;
        }
        p {
          font-family: map-get($font-family, sub_kr);
          line-height: 1.5;
          font-size: 18px;
        }
      }
    }
  }
}

// project
.project {
  .section-inner {
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .modalback {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: none;
      position: fixed;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      z-index: 100;
    }
    .modalScreen {
      width: 80%;
      height: 78%;
      margin: auto;
      background: map-get($font-color, primary-light);
      border-radius: 20px;
      display: none;
      justify-content: center;
      align-items: center;
      .modalScreenInner {
        width: 94%;
        border-width: 4px;
        border-style: solid;
        border-color: map-get($font-color, primary);
        height: 90%;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        position: relative;
        .cloneWeb {
          width: 58%;
          height: 100%;
          overflow: hidden;
          img {
            display: inline-block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            transition: all 5s ease-in-out;
            &:hover {
              object-position: bottom;
            }
          }
        }
        .project-text {
          width: 42%;
          height: 100%;
          background: #fff;
          padding: 20px 0 0 20px;
          ul {
            width: 90%;
            height: 88%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
          }
          .clone-desc li {
            display: flex;
            align-items: flex-start;
            gap: 8px;
            .tit {
              font-size: 22px;
              i {
                margin-right: 12px;
                color: map-get($font-color, primary);
              }
            }
            p {
              margin-left: 20px;
            }
          }
        }
        .modalCloseBtn {
          position: absolute;
          display: inline-block;
          right: 20px;
          top: 10px;
          text-align: center;
          cursor: pointer;
          i {
            font-family: "FontAwesome";
            content: "\f00d";
            font-size: 48px;
            color: map-get($font-color, primary);
          }
        }
        .viewMore {
          display: inline-block;
          position: absolute;
          right: 20px;
          bottom: 20px;
          text-align: center;
          line-height: 34px;
          height: 42px;
          width: 140px;
          padding: 5px 10px;
          background: map-get($font-color, primary);
          border-radius: 24px;
          color: #fff;
        }
      }
    }
    ul {
      gap: 2%;
      .modalList {
        width: 40%;
        height: auto;
        min-width: 480px;
        margin-bottom: 28px;
        background-color: map-get($font-color, primary-light);
        border-radius: 20px;
        position: relative;
        transition: all 0.3s;
        &::after {
          font-family: "FontAwesome";
          content: "\f245";
          display: none;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 20px;
          width: 100%;
          height: 100%;
          font-size: 42px;
          font-weight: 500;
          background: rgba(255, 255, 255, 0.5);
          cursor: pointer;
        }
        &:hover::after {
          display: flex;
        }
        .dew {
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          border-top-left-radius: 0;
          background: map-get($font-color, primary);
          position: absolute;
          top: -35px;
          left: 50%;
          transform: translateX(-50%) rotate(-135deg);
          z-index: 5;
        }

        .clone-project {
          a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            width: 100%;
            img {
              width: 94%;
            }
            span {
              display: inline-block;
              text-align: center;
              line-height: 34px;
              height: 42px;
              width: 140px;
              padding: 5px 10px;
              background: map-get($font-color, primary-dark);
              border-radius: 24px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
// example
.example {
  padding-bottom: 20px;
  height: auto;
  .section-inner {
    margin-top: 0;
    display: flex;
    justify-content: center;
    height: auto;
    .inner-wrap {
      width: 78%;
      height: auto;
      display: flex;
      flex-direction: column;
      .ex-menu {
        display: flex;
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;

        li {
          text-align: center;
          height: 42px;
          width: 140px;
          line-height: 32px;
          padding: 5px 10px;
          background: map-get($font-color, primary);
          border-radius: 24px;
          color: #fff;
          cursor: pointer;
          position: relative;

          span {
            position: absolute;
            top: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            line-height: 42px;
            border-radius: 20px;
            background: map-get($font-color, primary-dark);
            opacity: 1;
            &.active {
              opacity: 0;
            }
          }
        }
      }
      .ex-box {
        width: 100%;
        height: auto;
        margin-top: 24px;
        .modal-full {
          display: none;
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          z-index: 9999;
          #my-modal {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            #chat-iframe {
              width: 80%;
              height: 78%;
              border: none;
              border-radius: 5px;
              position: relative;
            }
            .modal-close-btn {
              width: 58px;
              height: 32px;
              border-radius: 25px;
              text-align: center;
              line-height: 32px;
              position: absolute;
              right: 10%;
              bottom: 7%;
              background: map-get($font-color, primary);
              color: #fff;
              cursor: pointer;
            }
          }
        }
        .ex-box-wrap {
          padding: 20px;
          padding-bottom: 40px;
          width: 100%;
          height: auto;
          display: none;
          justify-content: space-between;
          background: map-get($font-color, primary-light);
          &.active {
            display: flex;
          }

          li {
            flex-grow: 1;
            height: auto;
            min-height: 420px;
            min-width: 390px;
            max-width: 600px;
            margin: 20px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            z-index: 10;
            .colors {
              position: absolute;
              left: 0;
              top: -100%;
              width: 100%;
              height: 100%;
              background: map-get($font-color, primary);
              opacity: 0;
              transition: all 0.3s ease;
            }
            &:hover div {
              top: 0;
              opacity: 0.8;
            }
            img {
              width: 100%;
              object-fit: cover;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}
.contact {
  height: 360px;
  background: #1d2833;
  margin: 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    background: url("./img/cloud.png") left top/cover;
    opacity: 0.1;
  }
  .container {
    min-height: 0;
    color: #fff;
    margin-top: 40px;
    padding: 0;
    .section-tit {
      width: auto;
    }
    .section-inner {
      margin-top: 20px;
      padding: 0;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .social {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: map-get($font-color, primary);
        border-radius: 50px;
        width: 180px;
        height: 60px;
        z-index: 10;
        a,
        span {
          width: 40px;
          height: 40px;
          background: #fff;
          border-radius: 100%;
          border-top-left-radius: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 88%;
            padding: 5px;
          }
        }
      }
    }
    .bottom {
      width: 100%;
      height: 150px;
      background: map-get($font-color, primary);
      font-family: "NotoSans";
      font-style: italic;
      font-weight: lighter;
      text-align: center;
      font-size: 14px;
      padding-top: 50px;
    }
  }
}
