@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Orbit&family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #f2f2f2;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background: #3f51b5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #fff;
  padding: 0 100px;
  z-index: 999;
}
header .gnb {
  display: flex;
  gap: 50px;
}
header .gnb li {
  font-family: "Rajdhani";
  cursor: pointer;
}
header .toggle-btn {
  display: none;
}

.wrap {
  width: 100%;
  height: auto;
  color: #1d2833;
  background: url("./img/cloud.png") top left;
  font-family: "GmarketSansMedium";
}

.color-select-box {
  position: fixed;
  left: -154px;
  bottom: 120px;
  z-index: 999;
  display: flex;
  transition: all 0.3s;
}
.color-select-box.active {
  left: 0;
}
.color-select-box .colorBox {
  width: 154px;
  height: 150px;
  padding: 20px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.color-select-box .colorBox .select-color {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.color-select-box .colorBox .select-color:nth-child(1) {
  background: #3f51b5;
}
.color-select-box .colorBox .select-color:nth-child(2) {
  background: #00a73e;
}
.color-select-box .colorBox .select-color:nth-child(3) {
  background: #ff9801;
}
.color-select-box .colorBox .select-color:nth-child(4) {
  background: #ea1e63;
}

.gotoTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  box-shadow: inset 5px -5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 9999;
}

.color-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #3f51b5;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  text-align: center;
  cursor: pointer;
}
.color-setting i {
  font-size: 24px;
  color: #fff;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin: 100px auto 0;
}

.container {
  width: 100%;
  height: auto;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
}

.section {
  width: 100%;
  height: auto;
  display: flex;
}

.section-tit {
  font-size: 48px;
  font-family: "Rajdhani";
  font-weight: 600;
  width: 180px;
  height: 78px;
  text-align: center;
  position: relative;
}
.section-tit .underbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #3f51b5;
}
.section-tit .inner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  width: 50%;
  height: 8px;
  background: #3f51b5;
}

.section-inner {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  padding: 100px;
}
.section-inner ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.section-inner ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  gap: 36px;
}
.section-inner ul li .dew {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background: #3f51b5;
  border-radius: 100%;
  border-top-left-radius: 0;
}
.section-inner ul li .desc {
  width: 280px;
  text-align: center;
}
.section-inner ul li .desc h3 {
  margin-bottom: 8px;
}

.home {
  max-width: 60%;
  margin-bottom: 20px;
}
.home .container {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
}
.home .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .container .title span {
  font-size: 64px;
  font-family: "Rajdhani";
  font-weight: 500;
}
.home .container .title span .blue {
  color: #3f51b5;
}
.home .container .title .under-text {
  margin-left: 80px;
  margin-bottom: 20px;
}
.home .container .title p {
  width: 280px;
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.home .container .title .description {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 400px;
  text-align: left;
  letter-spacing: 1px;
}
.home .container .img {
  background: url("./img/yiseul01.jpg") top/cover no-repeat;
  width: 540px;
  height: 740px;
}

.about {
  width: 100%;
}

.skill .section-tit {
  position: relative;
  cursor: pointer;
}
.skill .section-tit .ani-dew {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-top-left-radius: 0;
  background: #3f51b5;
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  animation: aniClick 0.8s alternate-reverse infinite;
}
.skill .section-tit .ani-dew::after {
  content: "Click";
  position: absolute;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  color: #fff;
}
.skill .section-tit .ani-dew.active {
  animation: aniDew 3s linear;
}
@keyframes aniClick {
  0% {
    transform: translateX(-50%) rotate(45deg) scale(1);
  }
  100% {
    transform: translateX(-50%) rotate(45deg) scale(1.2);
  }
}
@keyframes aniDew {
  0% {
    transform: translateX(-50%) rotate(45deg);
    bottom: -70px;
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) rotate(45deg);
    bottom: -600px;
    opacity: 0;
  }
}
.skill .section-inner ul li .skill-content {
  margin-right: 20px;
}
.skill .section-inner ul li .skill-content .skill-box {
  width: 400px;
  height: 60px;
  margin-bottom: 42px;
  padding: 4px 0;
  background: #3f51b5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.skill .section-inner ul li .skill-content .skill-box h2 {
  line-height: 60px;
  color: #fff;
  font-size: 18px;
}
.skill .section-inner ul li .skill-content .skill-desc {
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 0;
  padding: 20px;
  background: #dddddd;
  margin-top: 28px;
  position: relative;
  transition: all 1s;
}
.skill .section-inner ul li .skill-content .skill-desc.active {
  visibility: visible;
  opacity: 1;
  height: 150px;
}
.skill .section-inner ul li .skill-content .skill-desc::before {
  content: "";
  width: 40px;
  height: 40px;
  background: #dddddd;
  position: absolute;
  left: 180px;
  transform: rotate(45deg);
  top: -15px;
  z-index: -1;
}
.skill .section-inner ul li .skill-content .skill-desc p {
  display: flex;
  align-items: center;
  font-family: "GmarketSansMedium";
  line-height: 1.5;
  font-size: 18px;
}
.skill .section-inner ul li img {
  width: 46px;
  height: 46px;
}
.skill .section-inner ul li:nth-child(3) .jquery {
  background: #fff;
  width: 36px;
  height: 36px;
}
.skill .section-inner ul li:last-child img {
  width: 38px;
  height: 38px;
}

.project .section-inner {
  margin-top: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .section-inner .modalback {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.project .section-inner .modalback .modalScreen {
  width: 80%;
  height: 78%;
  margin: auto;
  background: #dddddd;
  border-radius: 20px;
  display: none;
  justify-content: center;
  align-items: center;
}
.project .section-inner .modalback .modalScreen .modalScreenInner {
  width: 94%;
  border-width: 4px;
  border-style: solid;
  border-color: #3f51b5;
  height: 90%;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .cloneWeb {
  width: 58%;
  height: 100%;
  overflow: hidden;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .cloneWeb img {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-right: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: all 5s ease-in-out;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .cloneWeb img:hover {
  -o-object-position: bottom;
     object-position: bottom;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 42%;
  height: 100%;
  background: #fff;
  padding: 20px 0 0 20px;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .project-text ul {
  width: 90%;
  height: 100%;
  display: flex;
  gap: 52px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 50px;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .project-text .clone-desc li {
  display: flex;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .project-text .clone-desc li .tit {
  font-size: 22px;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .project-text .clone-desc li .tit i {
  margin-right: 12px;
  color: #3f51b5;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .project-text .clone-desc li .tit p {
  display: inline-block;
  font-size: 14px;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .project-text .clone-desc li p {
  margin-left: 30px;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .modalCloseBtn {
  position: absolute;
  display: inline-block;
  right: 20px;
  top: 10px;
  text-align: center;
  cursor: pointer;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .modalCloseBtn i {
  font-family: "FontAwesome";
  content: "\f00d";
  font-size: 48px;
  color: #3f51b5;
}
.project .section-inner .modalback .modalScreen .modalScreenInner .viewMore {
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-align: center;
  line-height: 34px;
  height: 42px;
  width: 140px;
  padding: 5px 10px;
  background: #3f51b5;
  border-radius: 24px;
  color: #fff;
}
.project .section-inner ul {
  gap: 2%;
}
.project .section-inner ul .modalList {
  width: 40%;
  height: auto;
  min-width: 480px;
  margin-bottom: 28px;
  background-color: #dddddd;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s;
}
.project .section-inner ul .modalList::after {
  font-family: "FontAwesome";
  content: "\f245";
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  font-size: 42px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.project .section-inner ul .modalList:hover::after {
  display: flex;
}
.project .section-inner ul .modalList .dew {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-top-left-radius: 0;
  background: #3f51b5;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%) rotate(-135deg);
  z-index: 5;
}
.project .section-inner ul .modalList .clone-project a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.project .section-inner ul .modalList .clone-project a img {
  width: 94%;
}
.project .section-inner ul .modalList .clone-project a span {
  display: inline-block;
  text-align: center;
  line-height: 34px;
  height: 42px;
  width: 140px;
  padding: 5px 10px;
  background: #1d2833;
  border-radius: 24px;
  color: #fff;
}

.example {
  padding-bottom: 20px;
  height: auto;
}
.example .section-inner {
  margin-top: 0;
  display: flex;
  justify-content: center;
  height: auto;
}
.example .section-inner .inner-wrap {
  width: 78%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.example .section-inner .inner-wrap .ex-menu {
  display: flex;
  height: auto;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.example .section-inner .inner-wrap .ex-menu li {
  text-align: center;
  height: 42px;
  width: 140px;
  line-height: 32px;
  padding: 5px 10px;
  background: #3f51b5;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.example .section-inner .inner-wrap .ex-menu li span {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 42px;
  border-radius: 20px;
  background: #1d2833;
  opacity: 1;
}
.example .section-inner .inner-wrap .ex-menu li span.active {
  opacity: 0;
}
.example .section-inner .inner-wrap .ex-box {
  width: 100%;
  height: auto;
  margin-top: 24px;
}
.example .section-inner .inner-wrap .ex-box .modal-full {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
.example .section-inner .inner-wrap .ex-box .modal-full #my-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.example .section-inner .inner-wrap .ex-box .modal-full #my-modal #chat-iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  position: relative;
}
.example .section-inner .inner-wrap .ex-box .modal-full #my-modal .modal-close-btn {
  width: 32px;
  height: 32px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}
.example .section-inner .inner-wrap .ex-box .modal-full #my-modal .modal-close-btn i {
  color: #3f51b5;
  font-size: 18px;
}
.example .section-inner .inner-wrap .ex-box .ex-box-wrap {
  padding: 20px;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  display: none;
  justify-content: space-between;
  background: #dddddd;
}
.example .section-inner .inner-wrap .ex-box .ex-box-wrap.active {
  display: flex;
}
.example .section-inner .inner-wrap .ex-box .ex-box-wrap li {
  flex-grow: 1;
  height: auto;
  min-height: 420px;
  min-width: 390px;
  max-width: 600px;
  margin: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
.example .section-inner .inner-wrap .ex-box .ex-box-wrap li .colors {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #3f51b5;
  opacity: 0;
  transition: all 0.3s ease;
}
.example .section-inner .inner-wrap .ex-box .ex-box-wrap li:hover div {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  opacity: 0.9;
  text-align: left;
  padding: 0 50px;
}
.example .section-inner .inner-wrap .ex-box .ex-box-wrap li:hover div p {
  width: 340px;
  color: #fff;
}
.example .section-inner .inner-wrap .ex-box .ex-box-wrap li img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.contact {
  height: 360px;
  background: #1d2833;
  margin: 0;
  position: relative;
}
.contact::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  background: url("./img/cloud.png") left top/cover;
  opacity: 0.1;
}
.contact .container {
  min-height: 0;
  color: #fff;
  margin-top: 40px;
  padding: 0;
}
.contact .container .section-tit {
  width: auto;
}
.contact .container .section-inner {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact .container .section-inner .social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #3f51b5;
  border-radius: 50px;
  width: 180px;
  height: 60px;
  z-index: 10;
}
.contact .container .section-inner .social a,
.contact .container .section-inner .social span {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 100%;
  border-top-left-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container .section-inner .social a img,
.contact .container .section-inner .social span img {
  width: 80%;
  padding: 5px;
}
.contact .container .bottom {
  width: 100%;
  height: 150px;
  background: #3f51b5;
  font-family: "NotoSans";
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  font-size: 14px;
  padding-top: 50px;
}/*# sourceMappingURL=style.css.map */