@import url("./reset.css");
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  height: 140px;
  border-top: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.brand ul {
  display: flex;
  gap: 4px;
}
.brand ul a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brand ul a:hover {
  text-decoration: underline;
}

.brand.active {
  top: 100px;
  z-index: 1;
}

header {
  width: 100%;
  padding: 0 4%;
  font-family: "Pretendard";
  font-weight: 500;
  height: 100px;
  background: #fff;
  position: relative;
  z-index: 100;
}
header .header-wrap {
  display: flex;
  width: 84vw;
  height: 100%;
  padding-left: 7.2vw;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}
header .header-wrap .header-left {
  display: flex;
  align-items: center;
  gap: 64px;
}
header .header-wrap .header-left ul {
  display: flex;
  gap: 24px;
}
header .header-wrap .header-left ul li {
  font-size: 1.2rem;
  position: relative;
}
header .header-wrap .header-left ul li:last-child::before {
  content: "";
  position: absolute;
  right: -26px;
  bottom: 3px;
  width: 16px;
  height: 16px;
  background: url("./img/ico_new_window.svg") center/contain no-repeat;
  cursor: pointer;
}
header .header-wrap .option-menu {
  display: flex;
  align-items: center;
  width: 186px;
  height: 36px;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
}
header .header-wrap .option-menu::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  background: url("./img/bg_underline.png") center/cover no-repeat;
}
header .header-wrap .option-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 12px;
  height: 12px;
  background: url("./img/ico_family-arrow.svg") no-repeat;
}
header .header-wrap .option-menu ul {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  border: 2px solid black;
  margin-top: 14px;
  width: 100%;
  height: 0;
  opacity: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  background: #fff;
}
header .header-wrap .option-menu ul.active {
  opacity: 1;
  height: 260px;
  gap: 16px;
}
header .header-wrap .option-menu ul li {
  display: none;
  font-weight: 400;
  transition: all 0.3s;
}
header .header-wrap .option-menu ul li.active {
  display: block;
}

section {
  height: 100%;
  width: 100%;
}
section .main-sec {
  height: 100%;
  width: 100%;
  margin-top: 20px;
}
section .main-sec .sec-wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  font-family: "UBuntu";
  font-weight: 500;
  position: relative;
  gap: 72px;
  font-size: 7.2vw;
}
section .main-sec .sec-wrap .better {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
section .main-sec .sec-wrap .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
section .main-sec .sec-wrap .middle .changeImg {
  border: 1px solid red;
  width: 100%;
  max-width: 480px;
  height: 100%;
}
section .main-sec .sec-wrap .life {
  width: 100%;
  text-align: center;
  font-size: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=style.css.map */