@import url("./reset.css");
body {
  height: 2000px;
  overflow-x: hidden;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  height: 140px;
  border-top: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.brand ul {
  display: flex;
  gap: 4px;
}
.brand ul a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.brand ul a::before {
  content: "";
  width: 100%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  background: transparent;
}
.brand ul a:hover {
  text-decoration: underline;
}
.brand ul a:hover::before {
  background: rgba(255, 255, 255, 0.2);
}
.brand ul a img {
  width: 100%;
}
.brand ul a span {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 0.8vw;
}

.brand.active {
  top: 100px;
  z-index: 1;
}

header {
  width: 100%;
  padding: 0 4%;
  font-family: "Pretendard";
  font-weight: 500;
  height: 100px;
  background: #fff;
  position: relative;
  z-index: 100;
}
header .header-wrap {
  display: flex;
  width: 84vw;
  height: 100%;
  padding-left: 7.2vw;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}
header .header-wrap .header-left {
  display: flex;
  align-items: center;
  gap: 64px;
}
header .header-wrap .header-left ul {
  display: flex;
  gap: 24px;
}
header .header-wrap .header-left ul li {
  font-size: 1.2rem;
  position: relative;
}
header .header-wrap .header-left ul li:last-child::before {
  content: "";
  position: absolute;
  right: -26px;
  bottom: 3px;
  width: 16px;
  height: 16px;
  background: url("./img/ico_new_window.svg") center/contain no-repeat;
  cursor: pointer;
}
header .header-wrap .option-menu {
  display: flex;
  align-items: center;
  width: 186px;
  height: 36px;
  position: relative;
  font-size: 0.8vw;
}
header .header-wrap .option-menu .option-menu-title {
  cursor: pointer;
  width: 100%;
}
header .header-wrap .option-menu::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  background: url("./img/bg_underline.png") center/cover no-repeat;
}
header .header-wrap .option-menu::after {
  content: "";
  position: absolute;
  top: 12px;
  right: 0;
  width: 12px;
  height: 12px;
  background: url("./img/ico_family-arrow.svg") no-repeat;
}
header .header-wrap .option-menu ul {
  display: flex;
  gap: 0;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  border: 2px solid black;
  margin-top: 14px;
  width: 100%;
  height: 0;
  opacity: 0;
  padding: 16px;
  display: flex;
  background: #fff;
  transition: all 0.3s;
}
header .header-wrap .option-menu ul.active {
  opacity: 1;
  height: auto;
  gap: 16px;
}
header .header-wrap .option-menu ul li {
  height: 0;
  opacity: 0;
  font-weight: 400;
}
header .header-wrap .option-menu ul li.active {
  height: auto;
  opacity: 1;
}

section {
  height: 100%;
  width: 100%;
}
section .main-sec {
  height: 88vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
section .main-sec .sec-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-family: "UBuntu";
  font-weight: 500;
  position: relative;
  font-size: 7.2vw;
  min-height: 42vw;
}
section .main-sec .sec-wrap .better {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  transition: all 0.1s;
}
section .main-sec .sec-wrap .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
section .main-sec .sec-wrap .middle .changeImg {
  width: 28vw;
  max-width: 480px;
  height: 100%;
}
section .main-sec .sec-wrap .life {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
section .main-sec .sec-wrap .life .letter {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
section .sec-bottom {
  width: 92vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Pretendard";
  font-size: 1vw;
  font-weight: 500;
}
section .sec-bottom a {
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
section .sec-bottom a::before {
  content: "";
  position: absolute;
  right: -50px;
  top: 0px;
  background: url("./img/ico_FlotingCampaign_arrow.svg") center/contain no-repeat;
  width: 30%;
  height: 30%;
}
section .sec-bottom a::after {
  content: "";
  position: absolute;
  right: -56px;
  top: 8px;
  background: url("./img/ico_event_go.png") center/contain no-repeat;
  width: 10%;
  height: 10%;
}
section .sec-bottom a img {
  width: 100%;
  max-width: 240px;
  margin-top: 16px;
}
section .sec-bottom .eat {
  font-family: "UBuntu";
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */