* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slide-wrapper {
  width: 660px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.slides {
  position: absolute;
  left: 0%;
  top: 0%;
  overflow: hidden;
}
.slides.animated {
  transition: all 0.5s ease-out;
}
.slides li {
  float: left;
  width: 200px;
  height: 200px;
  background: #ccc;
}
.slides li:not(:last-child) {
  margin-right: 30px;
}

.controls {
  margin-top: 50px;
  text-align: center;
}
.controls span {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
