@import "./reset.css";
@import "./font.css";
.wrap {
  font-family: "Pre";
}
/* header {
  position: fixed;
  left: 0;
  top: 0;
} */
.header-search {
  border: 1px solid #cfcfcf;
}
.search-bar {
  height: 48px;
  width: 78%;
  min-width: 950px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}
.search-bar input {
  width: 244px;
  height: 36px;
  border-radius: 20px;
  border: 1px solid #cfcfcf;
  padding: 0 15px;
  font-size: 1rem;
}
.search-bar input:focus {
  outline: 4px solid rgba(0, 130, 255, 0.2);
}
label {
  background: rgb(0, 130, 255);
  width: 34px;
  height: 34px;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.search-bar a {
  margin-left: 20px;
}
nav {
  height: 68px;
  width: 78%;
  min-width: 950px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grade-menu {
  font: 500 1.2rem/1 "Pre";
  display: flex;
  gap: 70px;
}
.menu-button {
  width: 40px;
  height: 18px;
  position: relative;
  cursor: pointer;
}
.menu-button span {
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 2px;
  background: #000;
}
.menu-button span:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.menu-button span:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-button span:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slide {
  width: 100%;
  overflow: hidden;
}
.slide ul {
  position: relative;
  display: flex;
  gap: 80px;
  width: 100%;
  margin: 0 auto;
}
.slide-btn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
  width: 100%;
  left: -28px;
  top: 50%;
}
.slide-btn span {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background: #fff;
  text-align: center;
  line-height: 50px;
}

.slide-btn .prev {
  transform: rotate(180deg);
}
.slide ul li {
  border: 1px solid red;
  width: 100%;
}
.slide ul li img {
  object-fit: cover;
}
