@import url("./reset.css");
@import url("./font.css");

/* media queries 적용법 */
/* all 또는 screen으로 씀 */
@media all and (min-width: 1280px) {
  /* common css  - 모든 요소에 영향을 미침 */
  body {
    font-family: Travel;
  }
  main {
    width: 100%;
    height: 100%;
  }

  /* header */
  header {
    /* 위에 헤더가 고정된채 스크롤 되게 설정 */
    position: fixed;
    /* 검색창(schedule-bar)보다 앞쪽으로 위치해야하기 때문에 */
    z-index: 99999;
    width: 100%;
    height: 74px;
    background: #fff;
    transition: 0.3s;
    /* background: #000; */
  }
  header.active {
    background: #000;
    color: #fff;
  }
  header > div {
    /* border: 1px solid #f00; */
    display: flex;
    /* flex-direction: row; 가로정렬이 기본값이라 생략해줄 수 있음 */
    /* 세로 중심 정렬을 하려면 높이값 꼭 입력 */
    align-items: center;
    height: 74px;
    /* 너비값 정해주고 justify-content로 양 끝단으로 보내준다음 margin값을 주어서 중앙정렬 */
    width: 1240px;
    justify-content: space-between;
    margin: 0 auto;
  }
  nav > div {
    display: flex;
    align-items: center;
    gap: 44px;
  }

  #icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid #ebebeb;
    padding: 8px;
    border-radius: 8px;
    width: 76px;
  }
  #gnb {
    display: none;
  }
  .trigger {
    display: none;
  }
  /* figure */
  figure {
    width: 100%;
    height: 529px;
    /* border: 1px solid #f00; */
    background: url("./img/1.main/main_04.jpg") center/cover no-repeat;
  }
  #slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 39px;
    padding-top: 200px;
    width: 1240px;
    height: 529px;
    margin: 0 auto;
    color: #fff;
    /* figure의 height(100%)에서 130%를 준 값 */
    line-height: 1.3;
    letter-spacing: 2px;
  }
  #schedule {
    background: #fff;
    width: 1240px;
    height: 145px;
    display: flex;
    flex-direction: column;
    /* 중심축 정렬 */
    justify-content: center;
    /* 교차축 정렬 */
    align-items: center;
    gap: 37px;
    border-radius: 20px;
  }
  #schedule-title {
    color: black;
    width: 1200px;
    font-size: 18px;
    /* 기본값이 400 */
    font-weight: 400;
    padding-left: 20px;
  }
  #schedule-title span {
    word-spacing: -4px;
  }
  #schedule-title span:first-child {
    color: #1273e4;
    font-weight: 600;
    /* 패딩으로 주면 안됨??? => 패딩으로 안쪽이 늘어나면 파란색 밑줄부분 스타일 지정에 영향을 줌*/
    margin-right: 50px;
    position: relative;
  }
  #schedule-title span:first-child::after {
    content: "";
    width: 140%;
    height: 4px;
    background: #1273e4;
    position: absolute;
    bottom: -15px;
    left: -14px;
  }
  #schedule-title span:last-child {
    color: #707070;
    position: relative;
  }
  #schedule-title span:last-child::after {
    content: "";
    width: 1180px;
    height: 2px;
    background: #f5f5f5;
    position: absolute;
    bottom: -17px;
    left: -144px;
  }
  #schedule-bar {
    position: relative;
  }
  #schedule-bar form {
    width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #schedule-bar .schedule-item {
    height: 45px;
    background: #f5f5f5;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    /*form태그 안에 요소는 따로 글자를 지정해주어야 함*/
    font-family: Travel;
    padding-left: 45px;
  }
  #schedule-bar .search {
    cursor: pointer;
    width: 450px;
  }
  #schedule-bar .search::placeholder {
    color: #c2c2c2;
  }
  .fa-magnifying-glass {
    color: #c2c2c2;
    font-size: 18px;
    position: absolute;
    top: 50%;
    /* 실제 아이콘의 50%를 잡아서 위쪽(-Y)으로 올려주겠다는 뜻  */
    transform: translateY(-50%);
    margin: 0 16px;
  }
  /*date input 의 스타일 지정*/
  #schedule-bar input[type="date"] {
    cursor: pointer;
    margin: 0 10px;
    width: 296px;
    position: relative;
  }
  #schedule-bar input[type="date"]::before {
    content: attr(placeholder);
    width: 100%;
    padding-left: 20px;
  }
  /* input태그 안 달력표시 왼쪽으로 옮기기 */
  #schedule-bar input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: -50px;
    scale: 0.5;
    width: 100%;
    height: 100%;
  }
  #schedule .person {
    width: 300px;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 25px;
  }
  #schedule input[type="submit"] {
    width: 120px;
    height: 45px;
    background: #1273e4;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  /* section - common */
  #contents {
    margin: 0 auto;
    padding: 40px 0;
    width: 1240px;
    display: flex;
    flex-direction: column;
  }
  .inner-content-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 65px 0 20px;
    letter-spacing: 1px;
  }
  .inner-content-title h3 {
    color: #333;
  }
  .inner-content-title h5 {
    color: #1273e4;
  }
  .inner-content-slide {
    display: flex;
    justify-content: space-between;
  }
  .inner-content-slide .slide-title {
    margin-top: 15px;
    font-size: 15px;
  }
  /* section - event */
  .event img {
    width: 380px;
    border-radius: 10px;
  }
  .event #list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 20px 0 0;
  }
  .event #list span {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 10px;
  }
  .event #list span:first-child {
    background: #1273e4;
  }
  /* section - local */
  .local .inner-content-slide img {
    width: 185px;
    border-radius: 10px;
  }
  /* section - outside */
  .outside .inner-content-slide img {
    width: 185px;
    border-radius: 10px;
  }
  /* section - hot */
  .hot .inner-content-title {
    margin-bottom: 6px;
  }
  .inner-content #inner-content-titlegroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #inner-content-titlegroup #badge {
    display: flex;
    gap: 10px;
  }
  #inner-content-titlegroup #badge span {
    width: auto;
    height: 100%;
    border: 1px solid #efefef;
    border-radius: 20px;
    padding: 10px 20px;
  }
  #inner-content-titlegroup #badge span:first-child {
    background: #1273e4;
    color: #fff;
  }
  .hot .inner-content-slide img {
    width: 281px;
    height: 173px;
    border-radius: 10px;
  }
  .inner-content-slide .slide-content-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 17px;
  }
  .inner-content-slide .slide-content-info .slide-content-info-top {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:first-child {
    color: #808080;
    font-size: 14px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:nth-child(2) {
    color: #333;
    font-size: 16px;
    font-weight: 600;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:nth-child(3) {
    color: #808080;
    font-size: 14px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:last-child
    span:first-child {
    background: #ffad0a;
    font-size: 13px;
    margin-right: 7px;
    padding: 4px;
    border-radius: 8px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:last-child
    span:last-child {
    font-size: 15px;
    color: #808080;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-bottom
    div:first-child {
    color: #808080;
    font-size: 14px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-bottom
    div:last-child
    span:first-child {
    color: #333;
    font-size: 18px;
    font-weight: 600;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-bottom
    div:last-child
    span:last-child {
    color: #808080;
    font-size: 14px;
    /*텍스트에 줄 긋기 기능*/
    text-decoration: line-through;
  }
  /* section - special */
  .special .inner-content-slide img {
    width: 281px;
    height: 173px;
    border-radius: 10px;
  }
  /* section - pension*/
  .pension .inner-content-slide img {
    width: 281px;
    height: 173px;
    border-radius: 10px;
  }
  /* section - blackdeal*/
  .blackdeal #subtitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .blackdeal #subtitle h4 {
    color: #b3b5b3;
    font-weight: lighter;
  }
  .blackdeal .inner-content-slide img {
    width: 283px;
    border-radius: 10px;
  }

  /* section - banner*/

  .banner .slide-banner {
    width: 100%;
    height: 340px;
    background: url("./img/9.footer/footbg.jpg") center/cover no-repeat;
    margin-top: 20px;
    padding: 50px 0 0 40px;
    border-radius: 10px;
  }
  .banner .slide-banner h2 {
    color: #333;
    margin-bottom: 20px;
  }
  .banner .slide-banner h5 {
    color: #8687a4;
    font-weight: lighter;
    line-height: 1.5;
  }
  /* top btn */
  .gototop {
    width: 50px;
    height: 50px;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: 50px;
    text-align: center;
    line-height: 50px;
    background: linear-gradient(45deg, skyblue, #c1e4f2);
    border-radius: 50%;
    color: #fff;
    /* 평상시에는 안나오게 가려줌 */
    opacity: 0;
  }
  .gototop.active {
    opacity: 1;
  }
}

@media screen and (max-width: 1279px) {
  /* common css  - 모든 요소에 영향을 미침 */
  body {
    font-family: Travel;
  }
  main {
    width: 100%;
    height: 100%;
  }

  /* header */
  header {
    position: fixed;

    z-index: 99999;
    width: 100%;
    height: 74px;
    background: #fff;
    transition: 0.3s;
    /* background: #000; */
  }
  header.active {
    background: #000;
    color: #fff;
  }
  header > div {
    /* border: 1px solid #f00; */
    display: flex;
    /* flex-direction: row; 가로정렬이 기본값이라 생략해줄 수 있음 */
    /* 세로 중심 정렬을 하려면 높이값 꼭 입력 */
    align-items: center;
    height: 74px;
    /* 너비값 정해주고 justify-content로 양 끝단으로 보내준다음 margin값을 주어서 중앙정렬 */
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
  }
  nav > div {
    display: flex;
    align-items: center;
    gap: 44px;
  }

  #icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid #ebebeb;
    padding: 8px;
    border-radius: 8px;
    width: 76px;
  }
  #gnb {
    display: none;
  }
  .trigger {
    display: none;
  }
  /* figure */
  figure {
    width: 100%;
    height: 529px;
    /* border: 1px solid #f00; */
    background: url("./img/1.main/main_04.jpg") center/cover no-repeat;
  }
  #slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 39px;
    padding-top: 200px;
    width: 100%;
    height: 529px;
    margin: 0 auto;
    color: #fff;
    /* figure의 height(100%)에서 130%를 준 값 */
    line-height: 1.3;
    letter-spacing: 2px;
  }
  figure #slide h1 {
    width: 90%;
    margin: 0 auto;
  }
  #schedule {
    background: #fff;
    width: 90%;
    height: 145px;
    display: flex;
    flex-direction: column;
    /* 중심축 정렬 */
    justify-content: center;
    /* 교차축 정렬 */
    align-items: center;
    gap: 37px;
    border-radius: 20px;
    margin: 0 auto;
  }
  #schedule-title {
    color: black;
    /* 계산법 1200/1240 * 100 = 96.7 */
    width: 96.7%;
    font-size: 18px;
    /* 기본값이 400 */
    font-weight: 400;
    padding-left: 1.6%;
  }
  #schedule-title span {
    word-spacing: -0.32%;
  }
  #schedule-title span:first-child {
    color: #1273e4;
    font-weight: 600;
    /* 패딩으로 주면 안됨??? => 패딩으로 안쪽이 늘어나면 파란색 밑줄부분 스타일 지정에 영향을 줌*/
    margin-right: 4%;
    position: relative;
  }
  #schedule-title span:first-child::after {
    content: "";
    width: 140%;
    height: 4px;
    background: #1273e4;
    position: absolute;
    bottom: -15px;
    left: -20%;
  }
  #schedule-title span:last-child {
    color: #707070;
    position: relative;
  }
  /* 바가 해외 숙소 밑에만 나오게끔 바꿔줌 */
  #schedule-title span:last-child::after {
    content: "";
    width: 140%;
    height: 4px;
    background: #f5f5f5;
    position: absolute;
    bottom: -15px;
    left: -20%;
  }
  #schedule-bar {
    position: relative;
    width: 96.7%;
  }
  #schedule-bar form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #schedule-bar .schedule-item {
    height: 45px;
    background: #f5f5f5;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    /*form태그 안에 요소는 따로 글자를 지정해주어야 함*/
    font-family: Travel;
    padding-left: 3.6%;
  }
  #schedule-bar .search {
    cursor: pointer;
    width: 36.2%;
  }
  #schedule-bar .search::placeholder {
    color: #c2c2c2;
  }
  .fa-magnifying-glass {
    color: #c2c2c2;
    font-size: 18px;
    position: absolute;
    top: 50%;
    /* 실제 아이콘의 50%를 잡아서 위쪽(-Y)으로 올려주겠다는 뜻  */
    transform: translateY(-50%);
    margin: 0 1.2%;
  }
  /*date input 의 스타일 지정*/
  #schedule-bar input[type="date"] {
    cursor: pointer;
    margin: 0 10px;
    width: 23.8%;
    position: relative;
  }
  #schedule-bar input[type="date"]::before {
    content: attr(placeholder);
    width: 100%;
    padding-left: 1.6%;
    /* 말줄임표 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  /* input태그 안 달력표시 왼쪽으로 옮기기 */
  #schedule-bar input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: -50px;
    scale: 0.5;
    width: 100%;
    height: 100%;
  }
  #schedule .person {
    width: 300px;
    margin-right: 10px;
    cursor: pointer;
    padding-left: 25px;
  }
  #schedule input[type="submit"] {
    width: 120px;
    height: 45px;
    background: #1273e4;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  /* section - common */
  #contents {
    margin: 0 auto;
    padding: 40px 0;
    width: 96.7%;
    display: flex;
    flex-direction: column;
  }
  .inner-content-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 65px 0 20px;
    letter-spacing: 1px;
  }
  .inner-content-title h3 {
    color: #333;
  }
  .inner-content-title h5 {
    color: #1273e4;
  }
  .inner-content-slide {
    display: flex;
    gap: 2%;
    justify-content: space-between;
  }
  .inner-content-slide .slide-title {
    margin-top: 15px;
    font-size: 15px;
  }
  /* section - event */
  .event img {
    width: 30.6%;
    border-radius: 10px;
  }
  .event #list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 20px 0 0;
  }
  .event #list span {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 10px;
  }
  .event #list span:first-child {
    background: #1273e4;
  }
  /* section - local */
  .local .inner-content-slide img {
    width: 100%;
    border-radius: 10px;
  }
  /* section - outside */
  .outside .inner-content-slide img {
    width: 100%;
    border-radius: 10px;
  }
  /* section - hot */
  .hot .inner-content-title {
    margin-bottom: 6px;
  }
  .inner-content #inner-content-titlegroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #inner-content-titlegroup #badge {
    display: flex;
    gap: 10px;
  }
  #inner-content-titlegroup #badge span {
    width: auto;
    height: 100%;
    border: 1px solid #efefef;
    border-radius: 20px;
    padding: 10px 20px;
  }
  #inner-content-titlegroup #badge span:first-child {
    background: #1273e4;
    color: #fff;
  }
  .hot .inner-content-slide img {
    width: 100%;
    height: 173px;
    border-radius: 10px;
  }
  /* 첫번째 이미지를 날리자 */
  .hot .inner-content-slide > div:first-child {
    display: none;
  }
  .hot .inner-content-slide > div:nth-child(2) {
    width: 100%;
  }
  .hot .inner-content-slide > div:nth-child(3) {
    width: 100%;
  }
  .hot .inner-content-slide > div:nth-child(4) {
    width: 100%;
  }
  .inner-content-slide .slide-content-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 17px;
  }
  .inner-content-slide .slide-content-info .slide-content-info-top {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:first-child {
    color: #808080;
    font-size: 14px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:nth-child(2) {
    color: #333;
    font-size: 16px;
    font-weight: 600;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:nth-child(3) {
    color: #808080;
    font-size: 14px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:last-child
    span:first-child {
    background: #ffad0a;
    font-size: 13px;
    margin-right: 7px;
    padding: 4px;
    border-radius: 8px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:last-child
    span:last-child {
    font-size: 15px;
    color: #808080;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-bottom
    div:first-child {
    color: #808080;
    font-size: 14px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-bottom
    div:last-child
    span:first-child {
    color: #333;
    font-size: 18px;
    font-weight: 600;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-bottom
    div:last-child
    span:last-child {
    color: #808080;
    font-size: 14px;
    /*텍스트에 줄 긋기 기능*/
    text-decoration: line-through;
  }
  /* section - special */
  .special .inner-content-slide img {
    width: 100%;
    height: 173px;
    border-radius: 10px;
  }
  .special .inner-content-slide > div:first-child {
    display: none;
  }
  .special .inner-content-slide > div:nth-child(2) {
    width: 100%;
  }
  .special .inner-content-slide > div:nth-child(3) {
    width: 100%;
  }
  .special .inner-content-slide > div:nth-child(4) {
    width: 100%;
  }
  /* section - pension*/
  .pension .inner-content-slide img {
    width: 100%;
    height: 173px;
    border-radius: 10px;
  }

  .pension .inner-content-slide > div:first-child {
    display: none;
  }
  .pension .inner-content-slide > div:nth-child(2) {
    display: 100%;
  }
  .pension.inner-content-slide > div:nth-child(3) {
    display: 100%;
  }
  .pension .inner-content-slide > div:nth-child(4) {
    display: 100%;
  }
  /* section - blackdeal*/
  .blackdeal #subtitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .blackdeal #subtitle h4 {
    color: #b3b5b3;
    font-weight: lighter;
  }
  .blackdeal .inner-content-slide img {
    width: 100%;
    border-radius: 10px;
  }

  /* section - banner*/

  .banner .slide-banner {
    width: 100%;
    height: 340px;
    background: url("./img/9.footer/footbg.jpg") center/cover no-repeat;
    margin-top: 20px;
    padding: 50px 0 0 40px;
    border-radius: 10px;
  }
  .banner .slide-banner h2 {
    color: #333;
    margin-bottom: 20px;
  }
  .banner .slide-banner h5 {
    color: #8687a4;
    font-weight: lighter;
    line-height: 1.5;
  }
  /* top btn */
  .gototop {
    width: 50px;
    height: 50px;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: 50px;
    text-align: center;
    line-height: 50px;
    background: linear-gradient(45deg, skyblue, #c1e4f2);
    border-radius: 50%;
    color: #fff;
    /* 평상시에는 안나오게 가려줌 */
    opacity: 0;
  }
  .gototop.active {
    opacity: 1;
  }
}

@media screen and (max-width: 980px) {
  /* common css  - 모든 요소에 영향을 미침 */
  body {
    font-family: Travel;
    /* 모바일 화면으로 바뀌었을 때 밑에 스크롤바를 없애줌 */
    overflow-x: hidden;
  }
  main {
    width: 100%;
    height: 100%;
  }

  /* header */
  header {
    position: fixed;

    z-index: 99999;
    width: 100%;
    height: 74px;
    background: #fff;
    transition: 0.3s;
    /* background: #000; */
  }
  header.active {
    background: #000;
    color: #fff;
  }
  header > div {
    /* border: 1px solid #f00; */
    display: flex;
    /* flex-direction: row; 가로정렬이 기본값이라 생략해줄 수 있음 */
    /* 세로 중심 정렬을 하려면 높이값 꼭 입력 */
    align-items: center;
    height: 74px;
    /* 너비값 정해주고 justify-content로 양 끝단으로 보내준다음 margin값을 주어서 중앙정렬 */
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
  }
  nav > div {
    display: none;
  }

  #icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 2px solid #ebebeb;
    padding: 8px;
    border-radius: 8px;
    width: 76px;
  }
  /* 모바일 화면 토글버튼 활성화 */
  #gnb {
    /* 스크롤하더라도 계속해서 사용자가 볼 수 있도록 고정시킴 */
    position: fixed;
    display: block;
    top: 0;
    right: -330px;
    background: #fff;
    width: 330px;
    height: 100vh;
    text-align: right;
    padding: 80px 20px 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    /* 0.3초동안 이 애니메이션을 실행시켜주는 코드 */
    transition: 0.3s;
  }
  #gnb.active {
    right: 0;
  }
  #gnb a {
    color: #000;
    display: block;
    padding: 16px;
    font-size: 18px;
  }
  /* 모바일 화면 햄버거 버튼 만들어주기 */
  .trigger {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 20px;
    height: 12px;
    z-index: 99999;
  }
  .trigger span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    /* 0.3초동안 이 애니메이션을 실행시켜주는 코드 but 여기에 주면 잔상이 남음 
     transition: 0.3s; */
  }
  header.active .trigger span {
    background: #f00;
  }
  .trigger span:nth-child(1) {
    top: 0;
  }
  .trigger span:nth-child(2) {
    top: 50%;
  }
  .trigger span:nth-child(3) {
    top: 100%;
  }
  /* 트리거버튼 활성화되었을 때 취소버튼(X)으로 만들기 위한 스타일 코드 */
  .trigger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
  }
  /* figure */
  figure {
    width: 100%;
    height: 300px;
    /* border: 1px solid #f00; */
  }
  #slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 39px;
    padding-top: 90px;
    width: 100%;
    height: 529px;
    margin: 0 auto;
    color: #fff;
    /* figure의 height(100%)에서 130%를 준 값 */
    line-height: 1.3;
    letter-spacing: 2px;
  }
  figure #slide h1 {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5em;
  }
  #schedule {
    background: transparent;
    height: auto;
  }
  #schedule-title {
    display: none;
  }
  #schedule-title span {
    word-spacing: -0.32%;
  }
  #schedule-title span:first-child {
    color: #1273e4;
    font-weight: 600;
    /* 패딩으로 주면 안됨??? => 패딩으로 안쪽이 늘어나면 파란색 밑줄부분 스타일 지정에 영향을 줌*/
    margin-right: 4%;
    position: relative;
  }
  #schedule-title span:first-child::after {
    content: "";
    width: 140%;
    height: 4px;
    background: #1273e4;
    position: absolute;
    bottom: -15px;
    left: -20%;
  }
  #schedule-title span:last-child {
    color: #707070;
    position: relative;
  }
  /* 바가 해외 숙소 밑에만 나오게끔 바꿔줌 */
  #schedule-title span:last-child::after {
    content: "";
    width: 140%;
    height: 4px;
    background: #f5f5f5;
    position: absolute;
    bottom: -15px;
    left: -20%;
  }
  #schedule-bar {
    position: relative;
    width: 100%;
  }
  #schedule-bar form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #schedule-bar .schedule-item {
    height: 45px;
    background: #f5f5f5;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    /*form태그 안에 요소는 따로 글자를 지정해주어야 함*/
    font-family: Travel;
    padding-left: 4.6%;
  }
  #schedule-bar .search {
    cursor: pointer;
    width: 100%;
  }
  #schedule-bar .search::placeholder {
    color: #c2c2c2;
  }
  .fa-magnifying-glass {
    color: #c2c2c2;
    font-size: 18px;
    position: absolute;
    top: 50%;
    /* 실제 아이콘의 50%를 잡아서 위쪽(-Y)으로 올려주겠다는 뜻  */
    transform: translateY(-50%);
    margin: 0 1.2%;
  }
  /*date input 의 스타일 지정*/
  #schedule-bar input[type="date"] {
    display: none;
  }
  #schedule-bar input[type="date"]::before {
    content: attr(placeholder);
    width: 100%;
    padding-left: 10.6%;
    /* 말줄임표 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  /* input태그 안 달력표시 왼쪽으로 옮기기 */
  #schedule-bar input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: -50px;
    scale: 0.5;
    width: 100%;
    height: 100%;
  }
  #schedule .person {
    display: none;
  }
  #schedule input[type="submit"] {
    display: none;
  }
  /* section - common */
  #contents {
    margin: 0 auto;
    padding: 0;
    width: 96.7%;
    display: flex;
    flex-direction: column;
  }
  .inner-content-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 20px;
    letter-spacing: 1px;
  }
  .inner-content-title h3 {
    color: #333;
  }
  .inner-content-title h5 {
    display: none;
  }
  .inner-content-slide {
    display: flex;
    gap: 2%;
    justify-content: space-between;
  }
  .inner-content-slide .slide-title {
    margin-top: 15px;
    font-size: 15px;
  }
  /* section - event */
  .event img {
    width: 100%;
    border-radius: 10px;
  }
  .event .inner-content-slide img:nth-child(2) {
    display: none;
  }
  .event .inner-content-slide img:last-child {
    display: none;
  }
  .event #list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 20px 0 0;
  }
  .event #list span {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 10px;
  }
  .event #list span:first-child {
    background: #1273e4;
  }
  /* section - local */
  .local .inner-content-slide img {
    width: 156px;
    border-radius: 10px;
  }
  /* section - outside */
  .outside .inner-content-slide img {
    width: 156px;
    border-radius: 10px;
  }
  /* section - hot */
  .hot .inner-content-title {
    margin-bottom: 6px;
  }
  .inner-content #inner-content-titlegroup {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #inner-content-titlegroup #badge {
    width: 911px;
    gap: 10px;
  }
  #inner-content-titlegroup #badge span {
    width: auto;
    height: 100%;
    border: 1px solid #efefef;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 12px;
  }
  #inner-content-titlegroup #badge span:first-child {
    background: #1273e4;
    color: #fff;
  }
  .hot .inner-content-slide img {
    width: 268px;
    height: 173px;
    border-radius: 10px;
  }
  /* 첫번째 이미지를 날리자 */
  .hot .inner-content-slide > div:first-child {
    display: none;
  }
  .hot .inner-content-slide div:nth-child(2) {
    width: 100%;
  }
  .hot .inner-content-slide div:nth-child(3) {
    width: 100%;
  }
  .hot .inner-content-slide div:nth-child(4) {
    width: 100%;
  }
  .inner-content-slide .slide-content-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 17px;
  }
  .inner-content-slide .slide-content-info .slide-content-info-top {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:first-child {
    color: #808080;
    font-size: 14px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:nth-child(2) {
    color: #333;
    font-size: 16px;
    font-weight: 600;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:nth-child(3) {
    color: #808080;
    font-size: 14px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:last-child
    span:first-child {
    background: #ffad0a;
    font-size: 13px;
    margin-right: 7px;
    padding: 4px;
    border-radius: 8px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-top
    div:last-child
    span:last-child {
    font-size: 15px;
    color: #808080;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-bottom
    div:first-child {
    color: #808080;
    font-size: 14px;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-bottom
    div:last-child
    span:first-child {
    color: #333;
    font-size: 18px;
    font-weight: 600;
  }
  .inner-content-slide
    .slide-content-info
    .slide-content-info-bottom
    div:last-child
    span:last-child {
    color: #808080;
    font-size: 14px;
    /*텍스트에 줄 긋기 기능*/
    text-decoration: line-through;
  }
  /* section - special */
  .special .inner-content-slide img {
    width: 268px;
    height: 173px;
    border-radius: 10px;
  }
  .special .inner-content-slide > div:first-child {
    display: none;
  }
  .special .inner-content-slide div:nth-child(2) {
    width: 100%;
  }
  .special .inner-content-slide div:nth-child(3) {
    width: 100%;
  }
  .special .inner-content-slide div:nth-child(4) {
    width: 100%;
  }
  /* section - pension*/
  .pension .inner-content-slide img {
    width: 268px;
    height: 173px;
    border-radius: 10px;
  }

  .pension .inner-content-slide > div:first-child {
    display: none;
  }
  .pension .inner-content-slide > div:nth-child(2) {
    display: 100%;
  }
  .pension.inner-content-slide > div:nth-child(3) {
    display: 100%;
  }
  .pension .inner-content-slide > div:nth-child(4) {
    display: 100%;
  }
  /* section - blackdeal*/
  .blackdeal #subtitle {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .blackdeal #subtitle h4 {
    color: #b3b5b3;
    font-weight: lighter;
  }
  .blackdeal .inner-content-slide img {
    width: 239px;
    border-radius: 10px;
  }

  /* section - banner*/

  .banner .slide-banner {
    width: 100%;
    height: 340px;
    background: url("./img/9.footer/footbg.jpg") center/cover no-repeat;
    margin-top: 20px;
    padding: 50px 0 0 40px;
    border-radius: 10px;
  }
  .banner .slide-banner h2 {
    color: #333;
    margin-bottom: 20px;
  }
  .banner .slide-banner h5 {
    color: #8687a4;
    font-weight: lighter;
    line-height: 1.5;
  }
}
