* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
body {
    font-family: 'Caveat', cursive;
    font-style: italic;
    background: #A7BBD3;
}
#wrap {
    width: 1440px;
margin: 0 auto;
}
header {
    display: flex;
   justify-content: space-between;
   align-items: center;
    width: 100%;
    height: 200px;
  
    margin: 0 auto;
}
h1 {
    display: flex;
    align-items: center;
}
h1 img {
    margin-right: 10px;
    width: 70px;
}
h1 a {
    font-size: 68px;
}
.btn {
    
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    position: relative;
    gap: 80px;

}


   
.btn .bar::after {
    display: block;
 position: absolute;
 bottom: 1px;
    content: "";
    width:20%;
    height: 5px;
    background: #000;
    opacity: 0;
}





.btn span:hover::after {
    opacity: 1;

}
.btn span:hover {
    color: black;
}
.btn a span {
    margin-left: 10px;
   
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}

.container {
    display: flex;
    justify-content: right;
    margin-top: 300px;

}
.content {
    
    position: relative;
    display: flex;
  justify-content: right;
    width: 80%;
    
}
.container img {
    width: inherit;
}
.container img:hover {
    transform: scale(1.1);
}
.container h1{
    position: absolute;
    top: 28%;
    left: 8.9%;
    float: right;
    display: flex;
    flex-direction: column;
}
.container h1 span {
    margin-bottom: 10%;
    font-size: 80px;
}

.content span:hover {
   color: #fff;
}