body {
  border: 1px solid red;
  width: 1000px;
  height: 800px;
}
div {
  width: 200px;
  height: 200px;
  background: blue;
  float: right;
  overflow: hidden;
}
span {
  display: inline-block;
  width: 900px;
  height: 400px;
  background: grey;
}
a {
  display: block;
  height: 200px;
  width: 200px;
  background: rebeccapurple;
}
