@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR";
  background: #fae4f8;
}
.container {
  width: 800px;
  height: auto;
  padding: 50px;
  background: #f2f2f2;
  border-radius: 12px;
  border: 1px solid #e6007e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.title {
  font: bold 1.6rem/1 "Noto Sans KR";
  height: 50px;
}
li {
  margin-bottom: 10px;
}
.visible {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.left-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.question {
  display: inline-block;
  width: 34px;
  height: 34px;
  background: #ddd;
  text-align: center;
  line-height: 36px;
  border-radius: 100%;
  color: #fff;
}
.question.active {
  background: #e6007e;
}
.question i {
  font-size: 22px;
}
.menu {
  font: bold 1.2rem/1 "Noto Sans KR";
}
.btn {
  position: relative;
}
.btn span {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 2px;
  background: #000;
}
.btn span:last-child {
  transform: rotate(90deg);
}
.btn span:last-child.active {
  transform: rotate(0);
}
.hidden {
  display: none;
  width: 680px;
  padding: 0 20px;
  background: #fff;
  border-radius: 8px;
}
.hidden.active {
  display: block;
}
.inner {
  padding: 10px;
  display: flex;
  gap: 15px;
}
.answer i {
  border: 1px solid #f2f2f2;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border-radius: 100%;
  color: #e6007e;
}
