@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  display: grid;
  place-items: center;
  font-family: "Noto Sans KR";
  overflow-x: hidden;
}
/*header*/
header {
  display: grid;
  place-items: center;
  width: 100%;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.content {
  display: grid;
  place-items: center;
  width: 100%;
  background: #fdf6ee;
}
.navOne {
  height: 50px;
  background: #31343b;
  position: relative;
}
.nav-bar {
  width: 75%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.nav-bar.active {
  display: gird;
}
.nav-bar li:first-child i {
  color: #fdf6ee;
  margin-right: 8px;
}
.toggle-btn {
  width: 26px;
  height: 22px;
  position: absolute;
  right: 18px;
  top: 14px;
  grid-gap: 4px;
  cursor: pointer;
  display: none;
}

.toggle-btn span {
  width: 100%;
  background: #fdf6ee;
}

.navTwo {
  background: #fdf6ee;
}
.reservation-bar {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 88%;
  margin: 0 80px;
  height: auto;
  color: #fff;
  padding: 10px;
}
.title {
  font-size: 14px;
  font-weight: 600;
  color: #31343b;
}

/*reservation-menu*/
.reservation-bar li {
  display: grid;
  place-items: center;
  width: 100%;
  height: 64px;
  padding-right: 10px;
  text-align: center;
  border-right: 2px solid #ed8c48;
}
.reservation-bar li:first-child {
  place-items: start;
}
.reservation-bar li:not(:first-child) {
  cursor: pointer;
}

.reservation-bar li:last-child {
  border: none;
}
.title {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.input-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  color: #31343b;
}
#hotel-name {
  width: 80%;
  height: 40px;
  padding-left: 10px;
  border: none;
  background: #fdf6ee;
}
#hotel-name:focus {
  outline: none;
  border-bottom: 2px solid #ed8c48;
}
#hotel-name::placeholder {
  color: #ed8c48;
  font-size: 16px;
  font-weight: 500;
}
.search {
  width: 68%;
  height: 80%;
  margin: 0 auto;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  background: #ed8c48;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 18px;
  font-weight: 600;
}
.search:hover {
  background: #fff;
  color: #31343b;
  border: 2px solid #ed8c48;
}
/*calendar*/
.calendar-member {
  position: absolute;
  top: 134px;
  background: #ffff;
  width: 40%;
  min-width: 380px;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: none;
}
.calendar-member.active {
  display: grid;
}
.calendar {
  border-right: 1px solid #ed8c48;
  text-align: center;
}
.member {
  padding: 0 20px;
}
.room {
  display: grid;
  grid-template-areas: "item item" "plus btn";
  grid-gap: 16px;
}
.room-item {
  grid-area: item;
  display: grid;
  grid-template-areas: "room adult" ". child";
  justify-content: space-around;
}
.room-item li {
  &:first-child {
    grid-area: room;
  }
  &:nth-child(2) {
    grid-area: adult;
  }
  &:last-child {
    grid-area: child;
  }
}
.room-plus {
  grid-area: plus;
  text-align: center;
}
.room > button {
  grid-area: btn;
}
/*section-main*/
.main {
  width: 100%;
}
.hotel-main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("./img/main_yy_20240229.jpg") top/ cover no-repeat;
}
.hotel-main::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.welcome-letter {
  position: absolute;
  min-width: 600px;
  left: 12%;
  bottom: 12%;
  font-size: 4.8em;
  color: #fff;
  text-shadow: 0 15px 15px rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.welcome-letter span {
  margin-left: 20px;
}
section {
  padding: 100px 0;
}
section:first-child {
  padding: 0;
}
/*section-room*/
.room-type {
  background: #fdf6ee;
  height: auto;
}
.types > h1 {
  position: relative;
  font-size: 32px;
  color: #31343b;
  margin-bottom: 100px;
}
.types > h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background: #ed8c48;
}
.room-type-content {
  width: 75%;
  border-radius: 8px;
  display: grid;
  grid-gap: 50px;
  align-content: center;
}

.room-type-content h1 {
  grid-area: h1;
  padding-top: 16px;
  padding-left: 10px;
}

.room-type-content p {
  grid-area: p;
  margin-top: 8px;
  padding-left: 10px;
  width: 88%;
  font-size: 18px;
  line-height: 36px;
  color: #555;
}
.room-type-content span {
  height: 100%;
  grid-area: span;
  overflow: hidden;
}
.room-type-content > div:nth-child(2n + 1) span {
  grid-row: 1/3;
  grid-column: 1/3;
  width: 60%;
}
.room-type-content > div:nth-child(2n) span {
  grid-row: 1/3;
  grid-column: 2/3;
}

.room-type-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.room-type-content img:hover {
  transform: scale(1.1);
}
.room-type-content > div:last-child img {
  object-position: left;
}
.room-type-content > div {
  display: grid;
  place-content: center;
  background: #fff;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
}
.room-type-content > div:nth-child(2n + 1) {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "span h1 " "span p";
}
.room-type-content > div:nth-child(2n) {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "h1 span" "p span";
}

.middle-img {
  width: 100vw;
  height: 200px;
  background: url("./img/dining_photo.jpg") center/cover no-repeat;
}
/*section-Facilities*/
.container {
  width: 75%;
  height: auto;
  padding: 20px;
  border-radius: 8px;
  display: grid;
  grid-template-rows: repeat(3, 180px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  background: #fff;
}
.item {
  position: relative;
  overflow: hidden;
}
.item:nth-child(1) {
  grid-row: 1/3;
}
.item:nth-child(2) {
  grid-column: 2/4;
  grid-row: 1/3;
}
.item:nth-child(6) {
  grid-column: 1/4;
}

.item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.item > p {
  position: absolute;
  left: 0;
  top: -100%;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  padding: 0 20%;
  display: grid;
  grid-template-rows: 50px auto;
  justify-items: center;
  align-content: center;
  background: rgba(144, 144, 255, 0.7);
  color: #fff;
}

.item:hover p {
  top: 0;
}
.item b {
  font-size: 24px;
}
/*section-activity*/
.activity-content {
  justify-items: center;
  width: 75%;
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(auto-fill, minmax(240px, 28%));
  justify-content: center;
}
.activity-content > div {
  display: grid;
  justify-items: center;
  background: #fff;
  max-width: 320px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}
.activity-content > div > p {
  display: inline-block;
  width: 80%;
  height: auto;
  padding: 28px 0;
  font-size: 18px;
  letter-spacing: 1.2px;
}
p > .accent {
  color: orangered;
  font-weight: 500;
}
.activity-content > div > img {
  width: 100%;
  object-fit: cover;
}
/*section-popular*/
.popular-place {
  padding-bottom: 150px;
}
.popular-place h1 {
  margin-bottom: 20px;
}
.popular-place p {
  display: inline-block;
  margin-bottom: 50px;
}
.imgItem {
  position: relative;
  perspective: 500px;
  padding: 30px 0 10px;
}
.imgItem h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 5px #ed8c48;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
}
.imgItem:hover h2 {
  font-size: 24px;
  opacity: 1;
  z-index: 1;
  bottom: -20px;
}
.imgAll {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.imgAll img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s;
}
.imgAll img:hover {
  transform: translate3d(0, 0, -50px);
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.4);
  position: relative;
}
/*footer*/
footer {
  background: #31343b;
  color: #fff;
  width: 100%;
  height: auto;
  padding-top: 28px;
}
.footer-inner {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  font-weight: 200;
  font-size: 14px;
}
.footer-inner ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 120px));
  align-items: center;
  justify-content: center;
}
.footer-inner ul li {
  position: relative;
  text-align: center;
  &::after {
    content: "";
    width: 2px;
    height: 2px;
    border-radius: 100%;
    background: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &:last-child::after {
    display: none;
  }
}
.footer-inner p {
  width: 88%;
  margin: 10px auto;
  color: #ddd;
  font-weight: 100;
  line-height: 24px;
  &:last-child {
    font-weight: 400;
    font-style: italic;
  }
}
@media (max-width: 1024px) {
  .nav-bar,
  .room-type-content,
  .activity-content,
  .container,
  .footer-inner {
    width: 100%;
  }
  .reservation-bar {
    width: 100%;
    padding-left: 50px;
  }
  .calendar {
    border: none;
    padding-bottom: 10px;
  }
  .welcome-letter {
    font-size: 3.8rem;
    bottom: 14%;
  }
  .room-type-content > div {
    width: 90%;
  }
  .room-type-content > div h1 {
    font-size: 22px;
  }
  .room-type-content > div p,
  .activity-content > div p {
    font-size: 16px;
    margin: 0;
  }
  .hotel-place {
    padding: 5%;
  }
  .item:nth-child(3) > p span,
  .item:nth-child(4) > p span,
  .item:nth-child(5) > p span {
    display: none;
  }
}
@media (max-width: 768px) {
  .welcome-letter {
    font-size: 3.2rem;
  }
  .nav-bar {
    position: absolute;
    top: -30vh;
    left: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 50px);
    background: #31343b;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    transition: all 0.3s;
    opacity: 0;
  }

  .nav-bar.active {
    top: 50px;
    opacity: 1;
  }
  .toggle-btn {
    display: grid;
  }

  .toggle-btn.active span:nth-child(1) {
    transform-origin: center bottom;
    transform: translateY(8px) rotate(45deg);
  }
  .toggle-btn.active span:nth-child(2) {
    opacity: 0;
  }
  .toggle-btn.active span:nth-child(3) {
    transform-origin: center top;
    transform: translateY(-8px) rotate(-45deg);
  }
  .navTwo {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #ed8c48;
    &::before {
      content: "\2b";
      font-family: fontawesome;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      color: #fff;
    }
  }
  .reservation-bar {
    display: none;
  }
  .room-type-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 24px;
    padding: 0 16px;
  }

  .room-type-content > div h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .room-type-content > div:nth-child(2n + 1),
  .room-type-content > div:nth-child(2n) {
    grid-template-rows: 100px, 1fr, 1fr;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .room-type-content > div:nth-child(2n + 1) span,
  .room-type-content > div:nth-child(2n) span {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 100%;
    height: auto;
    min-height: 220px;
    min-width: 220px;
  }
  .room-type-content > div p {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 100%;
    padding: 8px;
    line-height: 28px;
  }

  .room-type-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  .container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .item:nth-child(1),
  .item:nth-child(2),
  .item:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }
  .item > p > span {
    display: none;
  }
  .activity-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    justify-content: center;
  }
  .activity-content > div {
    max-width: none;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    place-items: center;
  }

  .activity-content > div > p {
    padding: 0;
    font-size: 16px;
  }
  .imgAll {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 390px) {
  .welcome-letter {
    font-size: 2rem;
  }
  section {
    padding: 50px 0;
  }
  .types > h1 {
    font-size: 26px;
    margin-bottom: 50px;
  }
  .room-type-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .container {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 50px;
  }
  .item:nth-child(1),
  .item:nth-child(2),
  .item:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }
  .middle-img {
    height: 100px;
  }
  .activity-content > div {
    width: 90%;
    height: 100%;
    padding: 20px;
  }
  .activity-content > div > p {
    padding-left: 18px;
    font-size: 14px;
    width: 100%;
  }
  .popular-place {
    padding-bottom: 50px;
  }
  .popular-place p {
    margin: 0;
  }
  .imgAll {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .imgAll img {
    max-height: 150px;
  }
  .imgItem:hover h2 {
    font-size: 18px;
    bottom: -10px;
  }

  .footer-inner {
    width: 90%;
    grid-template-rows: 2fr 2fr 1fr;
    font-size: 12px;
  }

  .footer-inner ul li {
    text-align: start;
    &::after {
      display: none;
    }
  }
}
