@import url("./reset.css");
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  justify-content: center;
  display: flex;
}
.wrapper ul {
  display: flex;
  width: 500px;
}
.wrapper ul li img {
  width: 500px;
}
