<<<<<<< HEAD
@font-face {
  font-family: "Travel";
  src: url("./font/Pretendard-Medium.subset.ttf");
}
=======
@font-face { 
    font-family: Travel;
    src: url("./font/Pretendard-Medium.subset.ttf"); 
}
>>>>>>> c434d7a654dc1e709cecf6c6ed061f53139521c7
