* {
<<<<<<< HEAD
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
=======
    margin: 0px;
padding: 0px;
box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
>>>>>>> c434d7a654dc1e709cecf6c6ed061f53139521c7
