@import url("./style.css");
.parent {
  border: 5px solid black;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  /* grid-template-columns: auto auto auto;
  grid-template-rows: 100px 300px; */
  /* grid-template-columns: 100px 1fr 2fr; ==> 100px만 고정값 두개의 열은 반응형 flex에서는 불가능*/
}

.parent div {
  border: 1px solid #fff;
  background: yellowgreen;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
