@import url("./reset.css");

/*header*/

#main_header {
  height: 45px;
  /*no-repeat을 주지않았기 때문에 이미지가 반복되어서 나열된다 => 용량이 작아져서 서버 구동이 원활하다 */
  background: url("./mobile/image/header_background.png");
  position: relative;
  text-align: center;
  /*수직정렬*/
  line-height: 45px;
}
#main_header .left,
#main_header .right {
  position: absolute;
  height: 32px;
  /*관습적으로 블락으로 처리해놓으면 나중에 수정이 편하기 때문에*/
  display: block;
  top: 7px;
}
#main_header .left {
  left: 5px;
  width: 62px;
  /*CSS sprite generator*/
  background: url("./mobile/css_sprites.png");
  background-position: -32px -0;
  /*text를 지우지 않고 멀리 보내버림 : 나중에 작업한는 사람이 알 수 있도록*/
  text-indent: -99999px;
}
#main_header .right {
  right: 5px;
  width: 32px;
  background: url("./mobile/css_sprites.png");
  background-position: 0 0;
  text-indent: -99999px;
}
#main_header h1 {
  color: #fff;
}
/*gnb*/
#toggle {
  display: none;
}
/*바로 직후의 형제 연산자는 + 로 표시 */
#toggle + #Wrap > #toggle_gnb_wrap {
  display: none;
}
/*chedcked가 되었다는 조건을 걸어준 것 임*/
#toggle:checked + #Wrap > #toggle_gnb_wrap {
  display: block;
}
#toggle_gnb_wrap {
  background: #363636;
  padding: 15px;
}
#toggle_gnb {
  background: #fff;
  padding: 5px;
  text-align: center;
}
#toggle_gnb ul {
  display: flex;
  justify-content: space-around;
}
#top_gnb {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #b42111;
  height: 35px;
}
#top_gnb a {
  color: #fff;
  /* line-height: 35px; */
}
/* 요새는 잘 안쓰지만 테이블로 짤 수 있다! */
#bottom_gnb {
  display: table;
  width: 100%;
  border-bottom: 1px solid #000;
}
#bottom_gnb > div {
  display: table-cell;
}
#bottom_gnb > div > a {
  /* 블락을 주어서 밑에 요소들이 다 적용되게 만듦 */
  display: block;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #b42111;
  position: relative;
}
/* 전후문자 선택자 사용해서 bar 넣기 / 꼭 content가 존재해야함 /부모 요소인 a 태그의 inline 속성을 그대로 가져오기 때문에 display block을 주어야함  */
#bottom_gnb > div > a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -1px;
  width: 1px;
  height: 15px;
  display: block;
  border-left: 1px solid #000;
}
/* section */
#section_header {
  padding: 20px 0 0 20px;
}
#section_article {
  padding: 20px;
}
/* footer */
#main_footer {
  border-top: 3px solid #000;
  padding: 20px;
  background: #b42111;
  color: #fff;
}
