@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
/* IBM Plex Sans KR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans KR";
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
