header {
  width: 800px;
  background: #f00;
  margin: 0 auto;
}
section {
  width: 800px;
  margin: 0 auto;
}
section {
  overflow: hidden;
}
#aside {
  width: 200px;
  background: #0f0;
  float: left;
}
#content {
  width: 400px;
  background: #00f;
  float: left;
}
/*부모요소가 다르더라도 float 뒤에 작성되면 무조건 영향을 받기 때문에 꼭 overflow hidden을 줘야한다.*/
footer {
  width: 800px;
  margin: 0 auto;
  background: teal;
}

/* 위의 경우와는 다르게 위치에 대한 좌표값이 바뀌어야하는 상황이면 Position으로 지정해주어야함 */
