@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f7b22d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-family: "Noto Sans KR";
}
.container {
  width: 800px;
  margin: 50px auto;
  padding: 20px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 16px;
}
header {
  width: 98%;
  padding: 16px 0;
  border-bottom: 2px solid #292929;
  color: #292929;
}
header h1 {
  text-align: center;
  padding: 10px;
}
header p {
  text-align: right;
  margin-right: 20px;
}
header p span {
  color: crimson;
}
.content {
  width: 100%;
  display: flex;
  justify-content: center;
}
table {
  width: 90%;
  padding: 20px 5px;
  display: flex;
}

tr {
  width: 100%;
  margin-bottom: 18px;
  margin-left: 40px;
  display: flex;
}
th {
  display: inline-block;
  width: 150px;
  color: #292929;
  margin-top: 5px;
  text-align: left;
}
th span {
  color: crimson;
}

td input {
  width: 350px;
  height: 40px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
td input:focus {
  outline: none;
  border: 1px solid #777;
}
.duplication-check {
  width: 100px;
  height: 40px;
  background: #fff;
  border: 1px solid #ee532f;
  color: #ee532f;
  border-radius: 5px;
  transition: all 0.3s;
}
.id-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 999;
}
.id-modal.active {
  display: block;
}
.modal-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 380px;
  height: 150px;
  padding: 20px;
  border: 1px solid #777;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.modal-inner button {
  width: 80px;
  height: 28px;
  border: none;
  background: #ee532f;
  color: #fff;
  border-radius: 5px;
  margin-top: 18px;
}
.modal-inner button:hover {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2);
}
button {
  cursor: pointer;
}
.duplication-check:hover {
  color: #fff;
  background: #ee532f;
}
.matching-num {
  width: 100px;
  height: 40px;
  background: #fff;
  color: #ddd;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: all 0.3s;
}
.matching-num.active {
  color: #ee532f;
  border-color: #ee532f;
}
.matching-num.active:hover {
  color: #fff;
  background: #ee532f;
}
.num-check {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.num-check-box {
  display: none;
  align-items: center;
  gap: 10px;
}
.num-check-box.active {
  display: flex;
}
.num-check div:last-child input {
  width: 200px;
}
.num-check div:last-child input {
  width: 140px;
}
.num-check div:last-child button {
  width: 100px;
  height: 40px;
  background: #eb684a;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.num-check div:last-child button:hover {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.timer {
  color: royalblue;
}
.warning {
  font-size: 0.8rem;
  color: #f00;
}
.address i {
  margin-right: 8px;
}
.address:hover {
  background: #ee532f;
  color: #fff;
}
.address:hover i {
  color: #fff;
}
.caution {
  font-size: 0.8rem;
  color: #777;
  padding-left: 5px;
  display: block;
}
input[type="radio"] {
  width: 22px;
  height: 22px;
  margin: 0 8px;
  appearance: none;
  border: 1px solid #ddd;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
}
input[type="radio"]::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: transparent;
}

[type="radio"]:checked {
  border: 1px solid #ee532f;
}
[type="radio"]:checked::before {
  background: #ee532f;
}
label {
  cursor: pointer;
}
.gender-select {
  display: flex;
  width: 350px;
}
.gender-select div {
  display: flex;
  align-items: center;
  flex: 1;
}
.birthday {
  position: relative;
}
.birthday-box {
  width: 350px;
  display: flex;
  position: relative;
}
.birthday-box input {
  margin-top: 2px;
  padding-left: 40px;
  width: calc(350px / 3);
  border: none;
  background: transparent;
  z-index: 5;
}
.birthday-box input:focus {
  border: none;
}
.birthday::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.birthday-box::after {
  content: "/";
  position: absolute;
  color: #ddd;
  left: 30%;
  top: 50%;
  transform: translateY(-50%);
}
.birthday-box::before {
  content: "/";
  position: absolute;
  color: #ddd;
  left: 63%;
  top: 50%;
  transform: translateY(-50%);
}
.friend-id-box,
.event-name-box {
  margin-top: 20px;
  display: none;
}
.add-sec {
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  width: 22px;
  height: 22px;
  border: 1px solid #ddd;
  border-radius: 100%;
  appearance: none;
  margin: 0 8px;
  cursor: pointer;
  position: relative;
}
input[type="checkbox"]::before {
  content: "\f00c";
  font-family: fontawesome;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  color: #ddd;
}
input[type="checkbox"]:checked {
  background: #ee532f;
  border: none;
}
input[type="checkbox"]:checked::before {
  color: #fff;
}
.address-sec td,
.terms td {
  flex-direction: column;
}
.list {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: left;
  position: relative;
}
.list p {
  margin-left: 32px;
}
.list .detail {
  position: absolute;
  right: 0;
  color: royalblue;
  font-size: 0.9rem;
  cursor: pointer;
}
.list label span {
  color: #777;
}
.list:last-child {
  margin-top: 18px;
}
.sign-in {
  width: 280px;
  height: 50px;
  background: #ee532f;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2rem;
}
.sign-in:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
