// 전역변수와 지역변수 정의
// .portfolio {
//   $crimson: crimson;
//   $black: #000;
//   color: $crimson;
//   h1 {
//     color: $black;
//   }
// }

// .headline {
//   color: $crimson;
//   h1 {
//     color: $black;
//   }
// }

// variable
$body-bgc: #ddd;

footer {
  background: crimson;
  text-align: center;
}
body {
  background: $body-bgc;
}
