body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn {
  width: 200px;
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  border: 1px solid black;
  box-shadow: 0 0 30pxpx rgba($color: crimson, $alpha: 1);
  cursor: pointer;
}
.order {
  @extend .btn;
  background: purple;
}
.add {
  @extend .btn;
  background: yellowgreen;
}
.checkout {
  @extend .btn;
  border: 1px solid #000;
  color: black;
}
