@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "Mapo";
  src: url("./fonts/MapoGoldenPier.ttf");
}

/* font-family: "Mapo" */
/* font-family: "Inter" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f8f8f8;
  font-family: "Inter";
  color: #222;
}
p {
  font-family: "Mapo";
  font-weight: 600;
  color: #444;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 400px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
}

.wrap {
  position: relative;
}
.music {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 150;
  animation: volume alternate 2s infinite;
}
@keyframes volume {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.weddingMain {
  width: 96%;
  min-width: 300px;
  height: auto;
  margin: 20px auto;
  border-radius: 150px;
}
.mainText p:first-child {
  display: inline-block;
  margin: 6px;
  font-size: 24px;
  color: #222;
}
.mainText p:last-child {
  display: inline-block;
  margin-top: 12px;
  font-size: 16px;
  line-height: 25px;
}
.navigation {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 24px;
  line-height: 48px;
  background: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 15px 10px rgba(248, 164, 164, 0.2);
  margin: 30px 0;
  font-family: "Mapo";
  font-weight: 600;
  color: #555;
  z-index: 100;
  overflow-y: hidden;
  span:hover {
    color: #f8a4a4;
    cursor: pointer;
  }
}
.date {
  margin: 0 5px;
  cursor: pointer;
}
.calendar {
  width: 100%;
}
.map {
  display: flex;
  justify-content: center;
  max-width: 400px;
  height: 280px;
  border: 2px solid #f8a4a4;
  border-radius: 8px;
}
.subtitle {
  font-family: "Mapo";
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(248, 164, 164, 0.7);
}
h2 {
  font-family: "Mapo";
  font-size: 1.2rem;
  color: #f8a4a4;
  margin: 10px;
}
.HowToGo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.date-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.date-info {
  width: 80%;
  min-width: 280px;
  line-height: 25px;
}
.date-info p {
  margin-top: 20px;
}
