@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "Mapo";
  src: url("./fonts/MapoGoldenPier.ttf");
}

/* font-family: "Mapo" */
/* font-family: "Inter" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f8f8f8;
  font-family: "Inter";
  color: #222;
}

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 400px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  position: relative;
  padding-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.music {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}
.weddingMain {
  width: 96%;
  min-width: 300px;
  height: auto;
  border-radius: 150px;
}
.navigation {
  width: 100%;
  height: 50px;
  line-height: 48px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(248, 164, 164, 0.3);
  margin: 30px 0;
}
.date {
  margin: 0 5px;
  cursor: pointer;
}
.calendar {
  width: 100%;
}
.map {
  width: 96%;
}
.subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #f8a4a4;
}
h2 {
  font-family: "Mapo";
  font-size: 1.2rem;
  color: #f8a4a4;
  margin: 10px;
}
.HowToGo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 34px;
}
.date-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date-info {
  width: 80%;
  min-width: 280px;
  line-height: 25px;
}
.date-info p {
  margin-top: 20px;
}
